@font-face {
  src: url('../fonts/melbourne.woff2') format('woff2'),
  url('../fonts/melbourne.woff') format('woff'),
  url('../fonts/melbourne.ttf') format('truetype');
  font-family: 'Melbourne';
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url('../fonts/melbourne-bold.woff2') format('woff2'),
  url('../fonts/melbourne-bold.woff') format('woff'),
  url('../fonts/melbourne-bold.ttf') format('truetype');
  font-family: 'Melbourne Bold';
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url('../fonts/melbourne-light.woff2') format('woff2'),
  url('../fonts/melbourne-light.woff') format('woff'),
  url('../fonts/melbourne-light.ttf') format('truetype');
  font-family: 'Melbourne Light';
  font-style: normal;
  font-weight: normal;
}

@import '../node_modules/meyer-reset-sass/reset';

@import 'partials/base';
@import 'partials/theme';

@import 'partials/base/basic';
@import 'partials/base/layout';
@import 'partials/base/helpers';
@import 'partials/base/animations';

@import 'partials/ui/button';
@import 'partials/ui/input';
@import 'partials/ui/number-box';
@import 'partials/ui/menu';
@import 'partials/ui/notification';
@import 'partials/ui/accordion';
@import 'partials/ui/slick';
@import 'partials/ui/select';
@import 'partials/ui/checkbox';

@import 'partials/components/toggler';
@import 'partials/components/main-nav';
@import 'partials/components/secondary-nav';
@import 'partials/components/add-in-cart-form';
@import 'partials/components/product';
@import 'partials/components/news';
@import 'partials/components/people';
@import 'partials/components/press-release';
@import 'partials/components/search-form';
@import 'partials/components/gallery';
@import 'partials/components/garden';
@import 'partials/components/device';
@import 'partials/components/faq';
@import 'partials/components/opinion';
@import 'partials/components/footer';
@import 'partials/components/arguments';
@import 'partials/components/social-networks';
@import 'partials/components/subscibe-to-newsletter-form';

@import 'partials/pages/category';
@import 'partials/pages/plant';
@import 'partials/pages/gardens';
@import 'partials/pages/lilo';
@import 'partials/pages/modulo';
@import 'partials/pages/comparison-of-gardens';
@import 'partials/pages/subscription';
@import 'partials/pages/technology';
@import 'partials/pages/mobile-app';
@import 'partials/pages/labo';
@import 'partials/pages/school';
@import 'partials/pages/recruitment';
@import 'partials/pages/team';
@import 'partials/pages/newsroom';

@import 'partials/base/hiding';
