.cf {
  @include clearfix;
}

.text {
  font-family: $regular-font;
  font-weight: 400;
  line-height: map-get(map-get($text-sizes-values, medium), line-height);

  @at-root {
    p#{&} + p#{&},
    ul#{&} + p#{&},
    p#{&} + ul#{&},
    ul#{&} + ul#{&} {
      margin-top: 1em;
    }

    h1#{&} + p#{&},
    h2#{&} + p#{&} {
      margin-top: .5em;
    }

    p#{&} + .slider-with-arrows {
      margin-top: em($spacing-medium);
    }
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--centered {
    text-align: center;
  }

  &--right-aligned {
    text-align: right;
  }

  &__link {
    color: $dark;
    text-decoration: underline;
    transition: color $transition-duration $transition-timing;

    &:focus {
      outline: none;
    }

    &:hover,
    &:active,
    &:focus {
      color: $active-color;
    }
  }

  @each $font-size, $values in $text-sizes-values {
    &--#{$font-size} {
      font-size: em(map-get($values, size));
      line-height: map-get($values, line-height);
    }
  }

  $thresholds: (
    sm: $beyond-small,
    md: $beyond-medium,
    lg: $beyond-large
  );

  @each $key, $threshold in $thresholds {
    @include breakpoint($threshold) {
      @each $font-size, $values in $text-sizes-values {
        &--#{$font-size}-#{$key} {
          font-size: em(map-get($values, size));
          line-height: map-get($values, line-height);
        }
      }
    }
  }

  &--bold {
    font-family: $bold-font;
  }

  &--light {
    font-family: $light-font;
  }

  &--grey {
    color: $less-dark;
  }

  &--light-grey {
    $grey: rgba($less-dark, .2);
    color: $grey;
  }

  &--sale {
    color: $sale-color;
  }
}

.list {
  &--style-icon {
    margin: em(-$spacing-small) 0;
  }

  &--style-disc {
    box-sizing: border-box;
    padding-left: em(30);
    list-style-type: disc;
  }

  &__item {
    &--style-icon {
      position: relative;
      box-sizing: border-box;
      padding-left: em($spacing-medium);
      margin: 1em 0;
    }
  }

  &__icon {
    position: absolute;
    top: 0;
    left: em($spacing-medium / 4);
    width: em($spacing-medium / 2);
    margin-top: em(2);
    fill: $dark;
    text-align: center;
  }
}

.video-iframe {
  position: relative;
  padding: ((360 * 50%) / 640) 50%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100% !important; // sass-lint:disable-line no-important
    width: 100% !important; // sass-lint:disable-line no-important
  }

  & + &,
  p.text + & { // sass-lint:disable-line force-element-nesting, no-qualifying-elements
    margin-top: em($spacing-medium);
  }

  & + p.text { // sass-lint:disable-line force-element-nesting, no-qualifying-elements
    margin-top: 2em;
  }
}

.section {
  padding-top: em($spacing-medium);
  padding-bottom: em($spacing-medium);

  @include breakpoint($beyond-medium) {
    padding-top: em($spacing-large);
    padding-bottom: em($spacing-large);
  }

  &--with-alt-background-color {
    background-color: $off-white;
  }

  &--with-gradient-background-color {
    background: linear-gradient(180deg, $white 0%, $off-white 100%);
  }

  &__icon {
    margin-bottom: 1em;
    fill: $dark;
    text-align: center;

    &--positive {
      fill: $positive-color;
    }

    &-img {
      margin: 0 em($spacing-small);

      @include breakpoint($below-small) {
        height: em(50);
      }
    }
  }

  &--with-list {
    overflow: hidden;
  }

  &__list {
    margin: em(-$spacing-large / 2) em(-$spacing-medium / 2);

    .text + & {
      margin-top: 0;
    }

    &-item {
      box-sizing: border-box;
      padding: 0 em($spacing-medium / 2);
      margin: em($spacing-large / 2) 0;
    }
  }

  &__header {
    margin-bottom: em($spacing-medium/2);

    @include breakpoint($beyond-medium) {
      margin-bottom: em($spacing-large/2);
    }
  }
}
