$thresholds: (
  sm: $beyond-small,
  md: $beyond-medium,
  lg: $beyond-large
);

.hide {
  position: absolute;
  z-index: -1;
  visibility: hidden;
}

.show-sm,
.show-md,
.show-lg {
  display: none;
}

.show-sm {
  @at-root {
    .row__col#{&},
    .row__col--centered#{&} {
      display: none;
    }
  }
}

.show-md {
  @at-root {
    .row__col#{&},
    .row__col--centered#{&} {
      display: none;
    }
  }
}

.show-lg {
  @at-root {
    .row__col#{&},
    .row__col--centered#{&} {
      display: none;
    }
  }
}

@each $key, $threshold in $thresholds {
  @include breakpoint($threshold) {
    .show-#{$key} {
      display: block;

      @at-root {
        .row__col#{&} {
          display: inline-block;
        }

        .row__col--centered#{&} {
          display: block;
        }
      }
    }

    .hide-#{$key} {
      display: none;
    }
  }
}
