.row {
  position: relative;
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding-right: em($gutter);
  padding-left: em($gutter);
  line-height: 0;

  &--centered {
    display: block;
    max-width: em($container-max-width + ($gutter * 2));
    margin: 0 auto;
  }

  &__col {
    display: inline-block;
    vertical-align: top;
    width: 100%;

    $parts: (
      half: 2,
      third: 3,
      quarter: 4,
      fifth: 5,
      three-quarters: 4 / 3,
      two-thirds: 3 / 2,
      three-fifths: 5 / 3,
      two-fifths: 5 / 2
    );

    $thresholds: (
      sm: $beyond-small,
      md: $beyond-medium,
      lg: $beyond-large
    );

    @each $name, $divider in $parts {
      &--#{$name} {
        width: (100% / $divider);
      }
    }

    &--with-left-gutter {
      box-sizing: border-box;
      padding-left: em($spacing-larger / 2);
    }

    &--with-right-gutter {
      box-sizing: border-box;
      padding-right: em($spacing-larger / 2);
    }

    &--centered {
      display: block;
      margin: 0 auto;
    }

    @each $key, $threshold in $thresholds {
      @include breakpoint($threshold) {

        @each $name, $divider in $parts {
          &--#{$name}-#{$key} {
            width: (100% / $divider);
          }
        }

        &--with-left-gutter-#{$key} {
          box-sizing: border-box;
          padding-left: em($spacing-larger / 2);
        }

        &--with-right-gutter-#{$key} {
          box-sizing: border-box;
          padding-right: em($spacing-larger / 2);
        }

        &--centered-#{$key} {
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
}
