.accordion {
  display: block;
  max-width: em(980);
  margin: 0 auto;
  border-bottom: solid #{$border-width}px $border-color;

  &__cta {
    position: relative;
    box-sizing: border-box;
    padding: 1em em($spacing-small + 20) 1em 0;
    cursor: pointer;
    transition: color $transition-duration $transition-timing;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      height: em(20);
      width: em(20);
      margin-top: em(-10);
      background-image: url('data:image/svg+xml;charset=UTF-8,%3csvg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 20 20"%3e%3cline stroke="%239B9B9B" x1="10" y1="20" x2="10" y2="0"/%3e%3cline stroke="%239B9B9B" x1="0" y1="10" x2="20" y2="10"/%3e%3c/svg%3e');
      transform: rotate(0deg);
      transition: transform $transition-duration $transition-timing;
    }

    &:focus {
      outline: none;
    }

    &:hover,
    &:active,
    &:focus {
      color: $active-color;
    }

    &--active {
      &::after {
        transform: rotate(45deg);
      }
    }
  }

  &__panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height $transition-duration $transition-timing;

    & *:last-child {
      margin-bottom: em($spacing-medium);
    }
  }
}
