.button {
  display: inline-block;
  min-height: em($button-height, $button-font-size);
  box-sizing: border-box;
  padding: em(($button-height - $button-line-height) / 2, $button-font-size) em($spacing-small, $button-font-size);
  border: 0;
  border-radius: em($button-border-radius, $button-font-size);
  background-color: $active-color;
  color: $white;
  fill: $white;
  font-family: $button-font;
  font-size: em($button-font-size);
  line-height: $button-line-height / $button-font-size;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color $transition-duration $transition-timing, color $transition-duration $transition-timing;
  user-select: none;
  -webkit-font-smoothing: inherit; // sass-lint:disable-line no-vendor-prefixes
  -moz-osx-font-smoothing: inherit; // sass-lint:disable-line no-vendor-prefixes
  -webkit-appearance: none; // sass-lint:disable-line no-vendor-prefixes

  &::-moz-focus-inner { // sass-lint:disable-line no-vendor-prefixes
    padding: 0;
    border: 0;
  }

  &:disabled {
    cursor: initial;
  }

  &--openwork {
    padding-top: em((($button-height - $button-line-height) / 2) - $button-border-width, $button-font-size);
    padding-bottom: em((($button-height - $button-line-height) / 2) - $button-border-width, $button-font-size);
    border: solid #{$button-border-width}px $active-color;
    background-color: transparent;
    color: $active-color;
    fill: $active-color;

    &:hover,
    &:active,
    &:focus {
      background: $active-color;
      color: $white;
      fill: $white;
    }
  }

  $themes: (
    sale: $sale-color,
    positive: $positive-color
  );

  @each $key, $color in $themes {
    &--#{$key} {
      background-color: $color;
      color: $white;
      fill: $white;
    }

    @at-root {
      #{&}--#{$key}#{&}--openwork {
        border-color: $color;
        background-color: transparent;
        color: $color;

        &:hover,
        &:active,
        &:focus {
          border-color: $color;
          background-color: $color;
          color: $white;
        }
      }
    }
  }

  &--disabled {
    border-color: $less-dark;
    background-color: $less-dark;
    color: $white;
    fill: $white;
    cursor: default;
  }

  &__label,
  &__icon {
    position: relative;
    display: inline-block;
    vertical-align: top;
  }

  &__icon {
    margin-right: em($spacing-small);
    transition: all $transition-duration $transition-timing; // sass-lint:disable-line no-transition-all
  }

  &__label + &__icon {
    margin-right: 0;
    margin-left: em($spacing-small);
  }
}
