// sass-lint:disable force-attribute-nesting,force-pseudo-nesting, nesting-depth

.checkbox {
  &__input[type='checkbox']:not(:checked),
  &__input[type='checkbox']:checked {
    position: absolute;
    left: em(-9999);

    & + .checkbox__label {
      position: relative;
      display: block;
      min-height: em(35 + 2 * $spacing-small);
      min-width: em(35 + 2 * $spacing-small);
      cursor: pointer;
      user-select: none;

      &--with-border::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        border: solid #{$border-width}px $dark;
        transition: border $transition-duration $transition-timing;
      }

      &::after {
        content: '✓';
        position: absolute;
        top: em($spacing-small);
        right: em($spacing-small);
        z-index: 1;
        height: em(35);
        width: em(35);
        box-sizing: border-box;
        border: solid #{$border-width}px $dark;
        border-radius: 50%;
        color: $dark;
        font-family: 'Lucida Grande', sans-serif;
        font-weight: bold;
        line-height: em(35);
        text-align: center;
        transition: color $transition-duration $transition-timing, background $transition-duration $transition-timing, border $transition-duration $transition-timing;
      }
    }

    &:focus + .checkbox__label::after {
      outline: auto;
      outline-color: -webkit-focus-ring-color; // sass-lint:disable-line no-vendor-prefixes
    }
  }

  &__input[type='checkbox']:not(:checked) {
    & + .checkbox__label::after {
      background-color: transparent;
      color: transparent;
    }
  }

  &__input[type='checkbox']:checked {
    & + .checkbox__label {
      &--with-border::before {
        border-color: $positive-color;
        border-width: #{$border-width * 2}px;
      }

      &::after {
        border-color: $positive-color;
        background-color: $positive-color;
        color: $white;
      }
    }
  }

  &--light &__input[type='checkbox']:not(:checked),
  &--light &__input[type='checkbox']:checked {
    & + .checkbox__label::after {
      border-color: $white;
    }
  }

  &--light &__input[type='checkbox']:checked {
    & + .checkbox__label::after {
      border-color: $white;
      background-color: $white;
      color: $positive-color;
    }
  }

  &--out &__input[type='checkbox']:not(:checked),
  &--out &__input[type='checkbox']:checked {
    & + .checkbox__label {
      & > * {
        opacity: 1;
        transition: opacity $transition-duration $transition-timing;
      }

      &::after {
        content: '';
        background-image: none;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: em(15);
      }
    }
  }

  &--out &__input[type='checkbox']:checked {
    & + .checkbox__label {
      & > * {
        opacity: .5;
      }

      &--with-border::before {
        $transparent-border-color: rgba($dark, .5);
        border-color: $transparent-border-color;
        border-width: #{$border-width}px;
      }

      &::after {
        border-color: $white;
        background-color: $white;
        background-image: url('data:image/svg+xml;charset=UTF-8,%3csvg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 15 15"%3e%3cpolygon fill="%23dd3938" points="13.2,2.6 12.5,1.8 7.5,6.8 2.6,1.8 1.8,2.6 6.8,7.5 1.8,12.5 2.6,13.2 7.5,8.2 12.5,13.2 13.2,12.5 8.2,7.5"/%3e%3c/svg%3e');
        opacity: 1;
      }
    }
  }
}
