.input {
  $base: $input-font-size;
  position: relative;
  display: block;
  height: em($input-height, $base);
  width: 100%;
  box-sizing: border-box;
  padding: em(($input-height - $input-line-height) /2, $base) em($spacing-small, $base);
  border: solid #{$input-border-width}px $input-border-color;
  border-radius: em($input-border-radius, $base);
  overflow: hidden;
  background: transparent;
  color: $input-color;
  font-family: $input-font;
  font-size: em($input-font-size);
  line-height: $input-line-height / $input-font-size;
  transition: border $transition-duration $transition-timing;
  -webkit-appearance: none; // sass-lint:disable-line no-vendor-prefixes

  &::placeholder {
    color: $input-placeholder-color;
  }

  &:placeholder-shown {
    border-color: $border-color;
  }

  &:read-only {
    border-color: $input-border-color;
    color: $read-only-input-color;
  }

  &:focus {
    border: solid #{$input-border-width}px $input-border-color;
  }

  &--error {
    &,
    &:hover,
    &:focus {
      border-color: $negative-color;
    }
  }

  &__wrapper {
    position: relative;
    display: inline-block;
    width: auto;
  }

  &--with-icon {
    padding-left: em($spacing-small * 2 + 20, $base);
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: em($spacing-small, $base);
    height: em(20, $base);
    width: em(20, $base);
    margin-top: em(-10, $base);
    fill: $input-color;
    transition: all $transition-duration $transition-timing; // sass-lint:disable-line no-transition-all
  }

  &:placeholder-shown + &__icon {
    fill: $input-placeholder-color;
  }
}
