.menu {
  &__list {
    margin-right: em(-$spacing-small);
    margin-left: em(-$spacing-small);
  }

  &__link {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    box-sizing: border-box;
    padding: em($spacing-small);
    border-bottom: solid #{$border-width}px transparent;
    color: $dark;
    fill: $dark;
    line-height: em(30);
    text-decoration: none;
    transition: all $transition-duration $transition-timing; // sass-lint:disable-line no-transition-all

    &--with-icon {
      padding-left: em($spacing-medium);
    }

    &-icon {
      position: absolute;
      top: 50%;
      left: em($spacing-medium/4);
      width: em($spacing-medium/2);
      margin-top: em(-2);
      text-align: center;
      transform: translateY(-50%);
    }

    &:focus {
      outline: none;
    }

    &--active,
    &:hover,
    &:active,
    &:focus {
      color: $active-color;
      fill: $active-color;
    }

    .text {
      display: inline-block;
      border-bottom: solid #{$border-width}px transparent;
      transition: border $transition-duration $transition-timing;
    }

    &--active-border {
      .text {
        border-color: $active-color;
      }
    }
  }
}
