.notification {
  position: relative;
  box-sizing: border-box;
  padding: em($spacing-medium / 2) em(2 * $spacing-small + 15) em($spacing-medium / 2) em($spacing-small);
  border-radius: em(2);
  background-color: $white;

  & + & {
    margin-top: em($spacing-small);
  }

  @include breakpoint($beyond-medium) {
    padding-right: em(2 * $spacing-medium + 15);
    padding-left: em($spacing-medium);
  }

  &__cta {
    margin-top: 1em;
  }

  &__close-button {
    @include reset-button;
    position: absolute;
    top: em($spacing-small);
    right: em($spacing-small);
    fill: $dark;
  }

  &--special {
    background-color: lighten($active-color, 35%);
    color: $active-color;
  }

  &--special &__close-button {
    fill: $active-color;
  }

  &--with-shadow {
    $shadow-color: rgba($dark, .5);
    box-shadow: 0 em(2) em(4) 0 $shadow-color;
  }
}
