.number-box {
  $base: $input-font-size;
  position: relative;
  height: em($input-height, $base);
  width: 100%;
  box-sizing: border-box;
  padding-right: em($spacing-small*2);
  border: solid #{$input-border-width}px $input-border-color;
  border-radius: em($input-border-radius, $base);

  input[type='number'] { // sass-lint:disable-line force-attribute-nesting,no-qualifying-elements
    -webkit-appearance: textfield; // sass-lint:disable-line property-sort-order,no-vendor-prefixes
    -moz-appearance: textfield; // sass-lint:disable-line no-vendor-prefixes
    appearance: textfield; // sass-lint:disable-line all
  }

  input[type='number']::-webkit-inner-spin-button, // sass-lint:disable-line force-pseudo-nesting,force-attribute-nesting,no-qualifying-elements,no-vendor-prefixes
  input[type='number']::-webkit-outer-spin-button { // sass-lint:disable-line force-attribute-nesting,force-pseudo-nesting,no-qualifying-elements,no-vendor-prefixes
    -webkit-appearance: none; // sass-lint:disable-line no-vendor-prefixes
  }

  &__input {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: em(($input-height - $input-line-height) /2, $base) em($spacing-small, $base);
    border: 0;
    overflow: hidden;
    background: transparent;
    color: $input-color;
    font-family: $input-font;
    font-size: em($input-font-size);
    line-height: $input-line-height / $input-font-size;

    &::placeholder {
      color: $input-placeholder-color;
    }

    &:read-only {
      border-color: $input-border-color;
      color: $read-only-input-color;
    }

    &--error {
      &,
      &:hover,
      &:focus {
        border-color: $negative-color;
      }
    }
  }

  &__step-up,
  &__step-down {
    position: absolute;
    right: 0;
    height: 50%;
    width: em($spacing-small*2, $base);
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      display: block;
      height: 0;
      width: 0;
      margin-left: em(-2, $base);
      border-style: solid;
      transition: border $transition-duration $transition-timing;
    }
  }

  &__step-up {
    top: 0;

    &::after {
      bottom: em(2, $base);
      border-color: transparent transparent $dark;
      border-width: 0 em(3, $base) em(4, $base);
    }

    &:hover {
      &::after {
        border-bottom-color: $active-color;
      }
    }
  }

  &__step-down {
    bottom: 0;

    &::after {
      top: em(2, $base);
      border-color: $dark transparent transparent;
      border-width: em(4, $base) em(3, $base) 0;
    }

    &:hover {
      ::after {
        border-top-color: $active-color;
      }
    }
  }
}
