.select {
  $base: $input-font-size;
  position: relative;
  display: block;
  height: em($input-height, $base);
  width: auto;
  box-sizing: border-box;
  padding: em(($input-height - $input-line-height) / 2, $base) em($spacing-small * 2 + 12, $base) em(($input-height - $input-line-height) / 2, $base) em($spacing-small, $base);
  border: solid #{$input-border-width}px $input-border-color;
  border-radius: em($input-border-radius, $base);
  background: transparent;
  background-image: url('data:image/svg+xml;charset=UTF-8,%3csvg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 12 8"%3e%3cpolygon points="6,7.2 6.5,6.7 11.4,2 10.5,0.8 6,5.1 1.5,0.8 0.6,2 5.5,6.7"/%3e%3c/svg%3e');
  background-position: bottom 50% right em($spacing-small, $base);
  background-repeat: no-repeat;
  background-size: em(12, $base) em(8, $base);
  color: $input-color;
  font-family: $input-font;
  font-size: em($input-font-size);
  line-height: $input-line-height / $input-font-size;
  cursor: pointer;
  transition: border $transition-duration $transition-timing;
  -webkit-appearance: button; // sass-lint:disable-line property-sort-order,no-vendor-prefixes
  -moz-appearance: button; // sass-lint:disable-line no-vendor-prefixes
  appearance: button; // sass-lint:disable-line all

  &::-ms-expand { // sass-lint:disable-line no-vendor-prefixes
    display: none;
  }


  &[disabled],
  &:disabled {
    border-color: $border-color;
    background-image: url('data:image/svg+xml;charset=UTF-8,%3csvg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 12 8"%3e%3cpolygon fill="#9B9B9B" points="6,7.2 6.5,6.7 11.4,2 10.5,0.8 6,5.1 1.5,0.8 0.6,2 5.5,6.7"/%3e%3c/svg%3e');
    color: $read-only-input-color;
    cursor: not-allowed;
  }

  &:invalid {
    border-color: $border-color;
    background-image: url('data:image/svg+xml;charset=UTF-8,%3csvg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 12 8"%3e%3cpolygon fill="#9B9B9B" points="6,7.2 6.5,6.7 11.4,2 10.5,0.8 6,5.1 1.5,0.8 0.6,2 5.5,6.7"/%3e%3c/svg%3e');
    color: $input-placeholder-color;
  }
}
