// sass-lint:disable nesting-depth
@import '../../../node_modules/slick-carousel/slick/slick.scss'; // sass-lint:disable-line clean-import-paths

.slick-list {
  margin: 0 em(-$spacing-small);
}

.slick-slide {
  padding: 0 em($spacing-small);

  img {
    max-width: 100%;
  }

  &:focus,
  a {
    outline: none;
  }
}

.slick-slider {

  .slick-dots {
    $dot-width: 6;
    margin: calc(#{em($spacing-small)} - #{$dot-width/2}px) #{$dot-width/2}px -#{$dot-width/2}px;
    text-align: center;

    button {
      display: block;
      height: #{$dot-width}px;
      width: #{$dot-width}px;
      padding: 0;
      border: 0;
      background: transparent;
      color: transparent;
      font-size: 0;
      line-height: 0;
      cursor: pointer;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: #{$dot-width}px;
        width: #{$dot-width}px;
        border-radius: #{$dot-width/2}px;
        background-color: $dark;
        opacity: .5;
        transform: translateZ(0);
        transition: opacity $bigger-transition-duration $transition-timing;
        -webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes
        -moz-osx-font-smoothing: grayscale; // sass-lint:disable-line no-vendor-prefixes
      }

      &:hover,
      &:active,
      &:focus {
        &::before {
          opacity: 1;
        }
      }
    }

    li {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      margin: #{$dot-width / 2}px;
      cursor: pointer;

      &.slick-active {
        button {
          &::before {
            opacity: 1;
          }
        }
      }
    }
  }
}

.slick-prev,
.slick-next {
  @include reset-button;
  position: absolute;
  top: 50%;
  z-index: 1;
  display: block;
  height: em($spacing-large/2);
  width: em($spacing-large/2);
  margin-top: em(-$spacing-large/4);
  border-radius: 50%;
  overflow: hidden;
  background: $active-color;
  color: transparent;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    height: em(15);
    width: em(10);
    margin-top: em(-7.5);
    background-image: url('data:image/svg+xml;charset=UTF-8,%3csvg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 10 15"%3e%3cpolygon fill="#FFF" points="1.7,13 7.3,7.5 1.7,2 2.2,1.5 8.3,7.5 2.2,13.5"/%3e%3c/svg%3e');
  }
}

.slick-prev {
  right: 100%;
  margin-right: em($spacing-small);

  &::before {
    left: em(9);
    transform: rotate(180deg);
  }
}

.slick-next {
  left: 100%;
  margin-left: em($spacing-small);

  &::before {
    right: em(9);
    transform: rotate(0deg);
  }
}
