$browser-context: 16 !default;

$regular-font: 'Melbourne', sans-serif !default;
$bold-font: 'Melbourne Bold', serif !default;
$light-font: 'Melbourne Light', serif !default;

$text-sizes-values: (
  huge: (size: 50, line-height: (56/50)),
  bigger: (size: 32, line-height: (40/32)),
  big: (size: 20, line-height: (27/20)),
  medium: (size: 16, line-height: (22/16)),
  small: (size: 12, line-height: (18/12))
);

$spacing-small: 10 !default;
$spacing-medium: 40 !default;
$spacing-large: 60 !default;
$spacing-larger: 100 !default;

$gutter: 10 !default;

//== Container sizes
$container-max-width: 1128 !default;

//== RWD
//em perfect unit https://zellwk.com/blog/media-query-units/
// 16 : default browser font-size

$threshold-to-adapt-the-nav: 1000;

$below-small: (max: 374);
$beyond-small: (min: 375);
$small: (min: 375, max: 799);

$below-medium: (max: 799);
$beyond-medium: (min: 800);
$medium: (min: 800, max: 824);

$below-large: (max: $container-max-width + ($gutter * 2) - 1);
$beyond-large: (min: $container-max-width + ($gutter * 2));

//== Colors

$white: rgb(255, 255, 255) !default;
$off-white: rgb(249, 249, 249) !default;
$darker-white: rgb(235, 235, 235) !default;
$dark: rgb(74, 74, 74) !default;
$less-dark: rgba(74, 74, 74, .5) !default;

$border-color: rgba(74, 74, 74, .2) !default;
$divider-color: rgba(74, 74, 74, .2) !default;

$border-width: 1 !default;
$divider-width: 1 !default;


$sale-color: rgb(230, 0, 80) !default;
$decoration-color: rgb(92, 193, 227) !default;

$active-color: rgb(70, 100, 175) !default;
$inactive-color: rgb(216, 216, 216) !default;

$positive-color: rgb(67, 203, 121) !default;
$negative-color: rgb(221, 57, 56) !default;

//== Animations
$transition-duration: .2s;
$bigger-transition-duration: .4s;
$transition-timing: ease-in-out;

//== Button
$button-font: $bold-font !default;
$button-font-size: 16 !default;
$button-line-height: 20 !default;
$button-border-radius: 2 !default;
$button-border-width: 2 !default;
$button-height: 32 !default;

//== Input
$input-font: $bold-font !default;
$input-font-size: 16 !default;
$input-line-height: 20 !default;
$input-height: 32 !default;
$input-border-width: 1 !default;
$input-border-radius: 2 !default;
$input-color: $dark !default;
$read-only-input-color: $less-dark !default;
$input-border-color: $dark !default;
$input-placeholder-color: $less-dark !default;
