@mixin reset-button {
  width: auto;
  padding: 0;
  margin: 0;
  border: 0;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  cursor: pointer;
  user-select: none;
  -webkit-font-smoothing: inherit; // sass-lint:disable-line no-vendor-prefixes
  -moz-osx-font-smoothing: inherit; // sass-lint:disable-line no-vendor-prefixes
  -webkit-appearance: none; // sass-lint:disable-line no-vendor-prefixes

  &::-moz-focus-inner { // sass-lint:disable-line no-vendor-prefixes
    padding: 0;
    border: 0;
  }

  &:disabled {
    cursor: initial;
  }
}
