.category {
  &__ill {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }

  &__intro {
    padding-top: em($spacing-medium);
    $special-color: rgb(220, 223, 216);
    background-color: $special-color;
    line-height: 0;

    @include breakpoint($beyond-medium) {
      padding-top: em($spacing-large);
    }

    &-ill {
      width: 100%;
    }
  }

  &__search {
    padding-top: em($spacing-medium);
    text-align: center;

    @include breakpoint($beyond-medium) {
      text-align: right;
    }

    .input__wrapper {
      margin-bottom: 1em;
    }

    .select {
      display: inline-block;
    }

    .select + .select {
      margin-left: em($spacing-small);
    }
  }

  &__plants {
    padding-top: em($spacing-large);
    margin-bottom: em($spacing-large);
    overflow: hidden;

    @include breakpoint($beyond-medium) {
      margin-bottom: em($spacing-large/2);
    }
  }

  &__mushrooms {
    padding-top: em($spacing-large);
    margin-bottom: em($spacing-large);
  }

  &__boxes {
    margin-top: em($spacing-large);
    margin-bottom: em($spacing-large);

    @include breakpoint($beyond-medium) {
      margin-top: em($spacing-large/2);
    }
  }

  &__capsules {
    height: em(325);
    overflow: hidden;

    &-ill {
      height: 100%;
      min-width: 100%;
      object-fit: cover;
    }
  }
}
