.comparison {

  &__nav {
    .menu__item {
      display: inline-block;
      vertical-align: baseline;
      margin-right: 0;
    }
  }

  &__content {
    padding-top: em($spacing-medium);

    @include breakpoint($beyond-medium) {
      padding-top: em($spacing-large);
    }
  }

  &__list {
    margin-top: em($spacing-large);
    margin-bottom: em($spacing-large);
  }

  &__item {
    box-sizing: border-box;

    &:nth-child(odd) {
      padding-right: em($spacing-small);
    }

    &:nth-child(even) {
      padding-left: em($spacing-small);
    }

    @include breakpoint($beyond-medium) {
      &:nth-child(odd),
      &:nth-child(even) {
        padding: 0 em($spacing-larger / 2);
      }
    }

    @include breakpoint($beyond-medium) {
      margin-top: 0;
    }
  }

  &__article {
    padding-top: em($spacing-medium);
    padding-bottom: em($spacing-medium);
    border-top: solid #{$border-width}px $border-color;

    @include breakpoint($beyond-medium) {
      padding-top: em($spacing-large);
      padding-bottom: em($spacing-large);
    }
  }

  &__table {
    width: 100%;
    margin-top: em($spacing-medium/2);
    margin-bottom: em(-$spacing-medium/2);
    table-layout: fixed;

    @include breakpoint($beyond-medium) {
      margin-top: em($spacing-medium);
      margin-bottom: em(-$spacing-medium);
    }

    &-cell {
      padding: em($spacing-medium/2) em($spacing-small);
      text-align: center;

      @include breakpoint($beyond-medium) {
        padding: em($spacing-medium) em($spacing-larger / 2);
      }
    }

    p.text + p.text { // sass-lint:disable-line force-element-nesting, no-qualifying-elements
      margin-top: .5em;
    }
  }

  &__icon {
    margin-bottom: em($spacing-small);
    fill: $dark;

    svg {
      max-width: 100%;
    }
  }

  &__alert {
    color: $sale-color;
  }

  &__no-data {
    vertical-align: middle;

    &::before {
      content: '—';
      font-size: em(20);

      @include breakpoint($beyond-medium) {
        font-size: em(50);
      }
    }
  }

  &__products-list {
    margin-top: em($spacing-medium);
  }
}
