.gardens {

  &__introduction {
    padding-top: 0;

    @include breakpoint($below-medium) {
      border-bottom: solid #{$border-width}px $border-color;
    }

    @include breakpoint($beyond-medium) {
      padding-top: em($spacing-large);
      overflow: hidden;
      $special-color: rgb(207, 230, 235);
      background-color: $special-color;
    }
  }

  &__illustration {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  &__title {
    text-transform: uppercase;
  }

  &__list {
    margin-top: em(-$spacing-large / 2);

    @include breakpoint($beyond-medium) {
      margin-top: 0;
    }
  }

  &__item {
    box-sizing: border-box;
    margin-top: em($spacing-large);

    @include breakpoint($beyond-small) {
      &:nth-child(odd) {
        padding-right: em($spacing-small);
      }

      &:nth-child(even) {
        padding-left: em($spacing-small);
      }
    }

    @include breakpoint($beyond-medium) {
      &:nth-child(odd) {
        padding: 0 em($spacing-larger / 2);
      }

      &:nth-child(even) {
        padding: 0 em($spacing-larger / 2);
      }
    }

    @include breakpoint($beyond-medium) {
      margin-top: 0;
    }
  }

  &__exposure {
    $special-color: rgb(255, 199, 114);
    background-color: $special-color;

    svg {
      fill: $white;
    }
  }

  &__recipes {
    margin-top: em($spacing-large);
    $special-color: rgb(208, 235, 236);
    background-color: $special-color;

    @include breakpoint($below-medium) {
      text-align: center;
    }

    &-illustration {
      max-width: 100%;
      margin-top: em(-100);
    }
  }

  &__video-and-recipes {
    overflow: hidden;
  }
}
