.labo {
  &__ill {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }

  &__intro {
    padding-top: em($spacing-medium);
    padding-bottom: em($spacing-medium);

    @include breakpoint($beyond-medium) {
      padding-top: em($spacing-large);
    }
  }

  &__axe {
    margin: em($spacing-medium) 0;
  }

  &__gallery {
    overflow: hidden;

    @include breakpoint($below-medium) {
      margin-top: 1em;
    }
  }
}
