// sass-lint:disable nesting-depth

.lilo {
  $special-color: rgb(230, 231, 237);

  &__introduction {
    padding-top: em($spacing-medium);

    @include breakpoint($beyond-medium) {
      position: relative;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: em(850);
      box-sizing: border-box;
      padding-top: 0;
      overflow: hidden;
      background-color: $special-color;
      text-align: right;
    }
  }

  &__insurances {
    padding-top: em($spacing-medium);
    padding-bottom: em($spacing-medium);

    @include breakpoint($beyond-medium) {
      background-color: $special-color;
    }
  }

  &__illustration {
    @include breakpoint($beyond-medium) {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
      object-fit: cover;
    }
  }

  &__infos {
    text-align: left;
  }

  &__opinions {
    margin-right: em($spacing-small);
    fill: $dark;

    &-wrapper {
      @include breakpoint($beyond-medium) {
        @at-root {
          p.text + p#{&} { // sass-lint:disable-line force-element-nesting, no-qualifying-elements
            margin-top: 0;
          }
        }
      }
    }
  }

  &__opinions,
  &__link-to-opinions {
    display: inline-block;
    vertical-align: top;
  }

  &__link-to-opinions {
    margin-top: em(4);
    line-height: em(18);
  }

  &__price {
    color: $sale-color;

    &-wrapper {
      margin: em($spacing-medium/2) 0;
    }
  }

  &__video {
    @include breakpoint($beyond-medium) {
      padding-bottom: 0;
    }
  }

  &__gallery {
    overflow: hidden;

    @include breakpoint($below-medium) {
      margin-top: 1em;
    }
  }

  &__cta {
    margin-top: 1em;

    @include breakpoint($below-medium) {
      text-align: center;
    }

    @include breakpoint($beyond-medium) {
      margin-bottom: 1em;
    }
  }

  &__mention {
    max-width: em(250);
    margin-top: 1em;
  }

  &__light {
    $special-color: rgb(248, 186, 65);
    padding-bottom: 0;
    background-color: $special-color;
    color: $white;

    .text__link {
      color: $white;

      &:hover,
      &:active,
      &:focus {
        color: $active-color;
      }
    }

    &-image-wrapper {
      margin-top: em($spacing-medium);
      line-height: 0;
      text-align: center;

      img {
        max-width: 100%;
      }
    }
  }

  &__plants {
    overflow: hidden;
  }
}
