.mobile-app {
  &__intro {
    &-ill {
      max-width: 100%;
      margin-bottom: em(-$spacing-medium);

      @include breakpoint($below-medium) {
        margin-top: em($spacing-medium);
      }

      @include breakpoint($beyond-medium) {
        margin-bottom: em(-$spacing-large);
      }
    }
  }

  &__device-col {
    @include breakpoint($below-medium) {
      text-align: center;

      & + & {
        margin-top: em($spacing-medium);
      }
    }

    @include breakpoint($beyond-medium) {
      vertical-align: middle;
    }
  }

  &__device-ill {
    max-width: 100%;

    @include breakpoint($below-medium) {
      max-width: em(200);
    }

    &-wrapper {
      line-height: 0;
    }
  }

  &__badge {
    @include breakpoint($below-medium) {
      max-width: em(150);
    }

    &-wrapper {
      line-height: 0;
    }
  }
}
