.modulo {

  &__notification-wrapper {
    width: 100%;
    max-width: em(500);
    margin: 0 auto em($spacing-small);
    text-align: center;

    @include breakpoint($beyond-medium) {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1;
      margin-top: em($spacing-medium/2);
    }
  }

  &__introduction {
    padding-top: em($spacing-medium);
    padding-bottom: 0;

    @include breakpoint($beyond-medium) {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-sizing: border-box;
      padding-top: em(150);
      overflow: hidden;
      $special-color: rgb(243, 186, 146);
      $special-color-for-gradient-from: rgb(250, 225, 201);
      $special-color-for-gradient-to: rgb(244, 192, 152);
      background-color: $special-color;
      background-image: linear-gradient(-270deg, $special-color-for-gradient-from 0%, $special-color-for-gradient-to 100%);
      text-align: right;
    }
  }

  &__insurances {
    padding-top: em($spacing-medium);
    padding-bottom: em($spacing-medium);

    @include breakpoint($beyond-medium) {
      position: relative;
      z-index: 1;
      display: flex;
      margin-top: em($spacing-large);
      text-align: left;
    }
  }

  &__insurance {
    padding-left: em($spacing-large);

    &-icon {
      top: 50%;
      width: em($spacing-medium);
      transform: translateY(-50%);

      @include breakpoint($below-medium) {
        --alt: #{$positive-color}; //sass lint can't process --tick
      }
    }
  }

  &__illustration {
    @include breakpoint($beyond-medium) {
      position: absolute;
      bottom: 0;
      left: 50%;
      z-index: 1;
      max-height: em(600);
      transform: translate(-50%, 0);
    }
  }

  &__infos {
    @include breakpoint($beyond-medium) {
      position: relative;
      z-index: 1;
      text-align: left;
    }
  }

  &__new {
    @include breakpoint($beyond-medium) {
      display: inline-block;
      padding: em(3) em(5) em(2);
      margin-bottom: .5em;
      background-color: $white;
      color: $sale-color;
      line-height: 1;

      &.show-md {
        display: inline-block;
      }
    }
  }

  &__price {
    color: $sale-color;

    &-wrapper {
      margin: em($spacing-medium/2) 0;
    }
  }

  &__gallery {
    overflow: hidden;

    @include breakpoint($below-medium) {
      margin-top: 1em;
    }
  }

  &__cta {
    margin-top: 1em;

    @include breakpoint($below-medium) {
      text-align: center;
    }

    @include breakpoint($beyond-medium) {
      margin-bottom: 1em;
    }
  }

  &__mention {
    margin-top: 1em;

    @include breakpoint($beyond-medium) {
      max-width: em(250);
    }
  }

  &__awards {
    padding: em($spacing-small) 0;
    border-bottom: solid #{$border-width}px $border-color;
    color: $less-dark;
    text-align: center;

    &-logo,
    &-label {
      display: inline-block;
      vertical-align: middle;
    }

    &-logo {
      margin-right: em($spacing-small);
    }
  }

  &__video {
    padding-bottom: 0;

    @include breakpoint($below-medium) {
      &-header {
        margin-bottom: 0;
      }
    }
  }

  &__light {
    &-ill {
      max-width: 100%;
      margin-bottom: em($spacing-medium);
    }
  }

  &__modular {
    &-nav {
      text-align: center;
    }

    .slick-dots {
      display: inline-block !important; // sass-lint:disable-line no-important
      margin-top: em($spacing-medium);
      border: solid #{$border-width}px $border-color;
      border-radius: em(25);
      text-align: center;

      li {
        display: inline-block;
        vertical-align: top;
      }

      button {
        @include reset-button;
        height: em($button-height);
        padding: 0 em($spacing-small);
        border-radius: em($button-height/2);
        color: $less-dark;
        font-family: $bold-font;
        line-height: em($button-line-height);
        text-transform: uppercase;
        transition: background-color $transition-duration $transition-timing, color $transition-duration $transition-timing;

        @include breakpoint($beyond-medium) {
          padding: 0 em($spacing-medium);
        }

        &:hover,
        &:active,
        &:focus {
          color: $active-color;
        }
      }
    }

    .slick-active {
      button {
        background-color: $active-color;
        color: $white;

        &:hover,
        &:active,
        &:focus {
          color: $white;
        }
      }
    }
  }

  &__plants {
    overflow: hidden;
  }
}
