.newsroom {
  &__intro {
    padding-top: em($spacing-medium);
    padding-bottom: em($spacing-medium);

    @include breakpoint($beyond-medium) {
      padding-top: em($spacing-large);
    }
  }

  &__ill {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }

  &__contacts {
    justify-content: center;

    .people__item {
      @include breakpoint($beyond-medium) {
        margin-right: em(($spacing-larger / 2) - ($spacing-medium / 2));
        margin-left: em(($spacing-larger / 2) - ($spacing-medium / 2));
      }
    }
  }
}
