.plant {

  &__presentation {
    padding-top: em($spacing-medium);
    padding-bottom: em($spacing-large);
  }

  &__category {
    text-transform: uppercase;
  }

  @at-root {
    h1#{&}__name + p#{&}__intro {
      margin-top: 0;
    }
  }

  &__price {
    color: $sale-color;

    &-wrapper {
      margin: em($spacing-medium/2) 0;
    }
  }

  &__slider {
    margin: em($spacing-medium/2) 0;
  }

  &__caracteristics-list {
    margin: em($spacing-small) 0;
  }

  &__insurances-list {
    margin-top: em($spacing-medium);
  }

  &__insurance {
    padding-left: em($spacing-large);

    &-icon {
      top: 50%;
      width: em($spacing-medium);
      transform: translateY(-50%);
      --alt: #{$positive-color}; //sass lint can't process --tick
    }
  }

  &__description {
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    background-color: $decoration-color;
    color: $white;

    &::before {
      content: '';
      position: absolute;
      top: -1px;
      left: 0;
      height: em($spacing-medium);
      width: 100%;
      background-image: url('data:image/svg+xml;charset=UTF-8,%3csvg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1280 60" preserveAspectRatio="none"%3e%3cpolygon fill="%23FFFFFF" points="0,60 0,0 1280,0"/%3e%3c/svg%3e');
      background-repeat: no-repeat;
      background-size: 100%;
    }

    &-content {
      padding-top: em($spacing-medium * 2);
      padding-bottom: em($spacing-medium);
    }

    @include breakpoint($beyond-medium) {
      &::before {
        height: em($spacing-large);
      }

      &-content {
        padding-top: em($spacing-large * 2);
        padding-bottom: em($spacing-large);
      }
    }

    @include breakpoint($below-medium) {
      text-align: center;
    }
  }

  &__illustration {
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    width: 150%;
    transform: translate(-50%, -50%);

    &-sup-wrapper {
      vertical-align: bottom;
    }

    &-wrapper {
      position: relative;
      box-sizing: border-box;
      padding: 50%;
    }
  }

  &__recipe {
    $special-color: rgb(183, 221, 235);
    background-color: $special-color;

    @include breakpoint($below-medium) {
      text-align: center;
    }
  }

  &__advices-list {
    margin: em($spacing-medium - $spacing-small) 0;
  }

  &__boxes-list {
    margin-top: em(- $spacing-large/2 + ($spacing-medium - $spacing-large/2));
  }

  &__presentation-and-description,
  &__list {
    overflow: hidden;
  }
}

