.recruitment {
  &__ill {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }

  &__intro {
    padding-top: em($spacing-medium);
    padding-bottom: em($spacing-medium);

    @include breakpoint($beyond-medium) {
      padding-top: em($spacing-large);
    }
  }

  &__ads {
    margin-top: em($spacing-larger - $spacing-medium);
    margin-bottom: em($spacing-larger - $spacing-medium);

    @include breakpoint($beyond-medium) {
      margin-top: em($spacing-larger - $spacing-large);
      margin-bottom: em($spacing-larger - $spacing-large);
    }
  }

  &__ad {
    padding: 1em 0;
    border-bottom: solid #{$border-width}px $border-color;

    p.text + p.text { // sass-lint:disable-line force-element-nesting, no-qualifying-elements
      margin-top: .5em;
    }
  }

  &__gallery {
    overflow: hidden;

    @include breakpoint($below-medium) {
      margin-top: 1em;
    }
  }
}
