.school {
  &__ill {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }

  &__intro {
    padding-top: em($spacing-medium);
    padding-bottom: em($spacing-medium);

    @include breakpoint($beyond-medium) {
      padding-top: em($spacing-large);
    }
  }

  &__gallery {
    overflow: hidden;

    @include breakpoint($below-medium) {
      margin-top: 1em;
    }
  }

  &__ordonated-list {
    counter-reset: counter;

    li {
      &::before {
        counter-increment: counter;
        content: counter(counter) '.';
        font-family: $bold-font;
        font-size: 1.4em;
      }
    }
  }
}
