.subscription {
  &__intro {
    padding-top: em($spacing-medium);
    padding-bottom: em($spacing-medium);

    @include breakpoint($beyond-medium) {
      padding-top: em($spacing-large);
    }
  }

  &__capsules {
    height: em(325);
    overflow: hidden;

    &-ill {
      height: 100%;
      min-width: 100%;
      object-fit: cover;
    }
  }

  &__arguments {
    text-align: center;
  }

  &__argument {
    &-title {
      &::before {
        content: '✓ ';
        color: $positive-color;
        font-family: 'Lucida Grande', sans-serif;
        font-weight: bold;
      }
    }
  }

  &__kitchen-bench {
    position: relative;
    display: flex;
    align-items: center;
    height: em(325);
    box-sizing: border-box;
    overflow: hidden;

    @include breakpoint($beyond-medium) {
      height: em(960);
    }

    &-ill {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 100%;
      min-width: 100%;
      transform: translate(-50%, -50%);
      object-fit: cover;
    }
  }

  &__modulos {
    max-height: em(810);
    $special-color: rgb(160, 139, 204);
    background-color: $special-color;
    line-height: 0;
    text-align: center;

    &-ill {
      max-width: 100%;
    }
  }
}
