.team {
  &__ill {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  &__intro {
    padding-top: em($spacing-medium);
    padding-bottom: em($spacing-medium);

    @include breakpoint($beyond-medium) {
      padding-top: em($spacing-large);
    }
  }

  &__date {
    margin: em($spacing-medium) 0;
  }

  &__trombinoscope {
    margin: em($spacing-medium) 0;

    @include breakpoint($beyond-medium) {
      margin: em($spacing-large) 0;
    }
  }
}
