.technology {
  &__ill {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }

  &__intro {
    padding-top: em($spacing-medium);
    overflow: hidden;

    @include breakpoint($beyond-medium) {
      padding-top: em($spacing-large);
    }

    &-ill {
      width: 100%;
    }

    @include breakpoint($beyond-medium) {
      position: relative;
      height: em(900);
      box-sizing: border-box;

      &-ill {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
      }
    }
  }

  &__exposure {
    svg {
      $special-color: rgb(245, 218, 122);
      fill: $special-color;
    }
  }
}
