@charset "UTF-8";
@font-face {
  src: url("../fonts/melbourne.woff2") format("woff2"), url("../fonts/melbourne.woff") format("woff"), url("../fonts/melbourne.ttf") format("truetype");
  font-family: 'Melbourne';
  font-style: normal;
  font-weight: normal; }

@font-face {
  src: url("../fonts/melbourne-bold.woff2") format("woff2"), url("../fonts/melbourne-bold.woff") format("woff"), url("../fonts/melbourne-bold.ttf") format("truetype");
  font-family: 'Melbourne Bold';
  font-style: normal;
  font-weight: normal; }

@font-face {
  src: url("../fonts/melbourne-light.woff2") format("woff2"), url("../fonts/melbourne-light.woff") format("woff"), url("../fonts/melbourne-light.ttf") format("truetype");
  font-family: 'Melbourne Light';
  font-style: normal;
  font-weight: normal; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  height: 100%;
  overflow-y: scroll;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: antialiased; }

body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: white;
  color: #4a4a4a; }

::selection {
  background: #4664af;
  color: white; }

hr {
  margin: 0;
  border: 0;
  border-top: solid 1px rgba(74, 74, 74, 0.2); }

a {
  color: #4a4a4a;
  text-decoration: none; }

sup {
  vertical-align: super;
  font-size: smaller; }

.row {
  position: relative;
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding-right: 0.625em;
  padding-left: 0.625em;
  line-height: 0; }
  .row--centered {
    display: block;
    max-width: 71.75em;
    margin: 0 auto; }
  .row__col {
    display: inline-block;
    vertical-align: top;
    width: 100%; }
    .row__col--half {
      width: 50%; }
    .row__col--third {
      width: 33.33333%; }
    .row__col--quarter {
      width: 25%; }
    .row__col--fifth {
      width: 20%; }
    .row__col--three-quarters {
      width: 75%; }
    .row__col--two-thirds {
      width: 66.66667%; }
    .row__col--three-fifths {
      width: 60%; }
    .row__col--two-fifths {
      width: 40%; }
    .row__col--with-left-gutter {
      box-sizing: border-box;
      padding-left: 3.125em; }
    .row__col--with-right-gutter {
      box-sizing: border-box;
      padding-right: 3.125em; }
    .row__col--centered {
      display: block;
      margin: 0 auto; }
    @media screen and (min-width: 23.4375em) {
      .row__col--half-sm {
        width: 50%; }
      .row__col--third-sm {
        width: 33.33333%; }
      .row__col--quarter-sm {
        width: 25%; }
      .row__col--fifth-sm {
        width: 20%; }
      .row__col--three-quarters-sm {
        width: 75%; }
      .row__col--two-thirds-sm {
        width: 66.66667%; }
      .row__col--three-fifths-sm {
        width: 60%; }
      .row__col--two-fifths-sm {
        width: 40%; }
      .row__col--with-left-gutter-sm {
        box-sizing: border-box;
        padding-left: 3.125em; }
      .row__col--with-right-gutter-sm {
        box-sizing: border-box;
        padding-right: 3.125em; }
      .row__col--centered-sm {
        display: block;
        margin: 0 auto; } }
    @media screen and (min-width: 50em) {
      .row__col--half-md {
        width: 50%; }
      .row__col--third-md {
        width: 33.33333%; }
      .row__col--quarter-md {
        width: 25%; }
      .row__col--fifth-md {
        width: 20%; }
      .row__col--three-quarters-md {
        width: 75%; }
      .row__col--two-thirds-md {
        width: 66.66667%; }
      .row__col--three-fifths-md {
        width: 60%; }
      .row__col--two-fifths-md {
        width: 40%; }
      .row__col--with-left-gutter-md {
        box-sizing: border-box;
        padding-left: 3.125em; }
      .row__col--with-right-gutter-md {
        box-sizing: border-box;
        padding-right: 3.125em; }
      .row__col--centered-md {
        display: block;
        margin: 0 auto; } }
    @media screen and (min-width: 71.75em) {
      .row__col--half-lg {
        width: 50%; }
      .row__col--third-lg {
        width: 33.33333%; }
      .row__col--quarter-lg {
        width: 25%; }
      .row__col--fifth-lg {
        width: 20%; }
      .row__col--three-quarters-lg {
        width: 75%; }
      .row__col--two-thirds-lg {
        width: 66.66667%; }
      .row__col--three-fifths-lg {
        width: 60%; }
      .row__col--two-fifths-lg {
        width: 40%; }
      .row__col--with-left-gutter-lg {
        box-sizing: border-box;
        padding-left: 3.125em; }
      .row__col--with-right-gutter-lg {
        box-sizing: border-box;
        padding-right: 3.125em; }
      .row__col--centered-lg {
        display: block;
        margin: 0 auto; } }

.cf::after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }

.text {
  font-family: "Melbourne", sans-serif;
  font-weight: 400;
  line-height: 1.375; }
  p.text + p.text,
  ul.text + p.text,
  p.text + ul.text,
  ul.text + ul.text {
    margin-top: 1em; }
  h1.text + p.text,
  h2.text + p.text {
    margin-top: .5em; }
  p.text + .slider-with-arrows {
    margin-top: 2.5em; }
  .text--uppercase {
    text-transform: uppercase; }
  .text--centered {
    text-align: center; }
  .text--right-aligned {
    text-align: right; }
  .text__link {
    color: #4a4a4a;
    text-decoration: underline;
    transition: color 0.2s ease-in-out; }
    .text__link:focus {
      outline: none; }
    .text__link:hover, .text__link:active, .text__link:focus {
      color: #4664af; }
  .text--huge {
    font-size: 3.125em;
    line-height: 1.12; }
  .text--bigger {
    font-size: 2em;
    line-height: 1.25; }
  .text--big {
    font-size: 1.25em;
    line-height: 1.35; }
  .text--medium {
    font-size: 1em;
    line-height: 1.375; }
  .text--small {
    font-size: 0.75em;
    line-height: 1.5; }
  @media screen and (min-width: 23.4375em) {
    .text--huge-sm {
      font-size: 3.125em;
      line-height: 1.12; }
    .text--bigger-sm {
      font-size: 2em;
      line-height: 1.25; }
    .text--big-sm {
      font-size: 1.25em;
      line-height: 1.35; }
    .text--medium-sm {
      font-size: 1em;
      line-height: 1.375; }
    .text--small-sm {
      font-size: 0.75em;
      line-height: 1.5; } }
  @media screen and (min-width: 50em) {
    .text--huge-md {
      font-size: 3.125em;
      line-height: 1.12; }
    .text--bigger-md {
      font-size: 2em;
      line-height: 1.25; }
    .text--big-md {
      font-size: 1.25em;
      line-height: 1.35; }
    .text--medium-md {
      font-size: 1em;
      line-height: 1.375; }
    .text--small-md {
      font-size: 0.75em;
      line-height: 1.5; } }
  @media screen and (min-width: 71.75em) {
    .text--huge-lg {
      font-size: 3.125em;
      line-height: 1.12; }
    .text--bigger-lg {
      font-size: 2em;
      line-height: 1.25; }
    .text--big-lg {
      font-size: 1.25em;
      line-height: 1.35; }
    .text--medium-lg {
      font-size: 1em;
      line-height: 1.375; }
    .text--small-lg {
      font-size: 0.75em;
      line-height: 1.5; } }
  .text--bold {
    font-family: "Melbourne Bold", serif; }
  .text--light {
    font-family: "Melbourne Light", serif; }
  .text--grey {
    color: rgba(74, 74, 74, 0.5); }
  .text--light-grey {
    color: rgba(74, 74, 74, 0.2); }
  .text--sale {
    color: #e60050; }

.list--style-icon {
  margin: -0.625em 0; }

.list--style-disc {
  box-sizing: border-box;
  padding-left: 1.875em;
  list-style-type: disc; }

.list__item--style-icon {
  position: relative;
  box-sizing: border-box;
  padding-left: 2.5em;
  margin: 1em 0; }

.list__icon {
  position: absolute;
  top: 0;
  left: 0.625em;
  width: 1.25em;
  margin-top: 0.125em;
  fill: #4a4a4a;
  text-align: center; }

.video-iframe {
  position: relative;
  padding: 28.125% 50%; }
  .video-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100% !important;
    width: 100% !important; }
  .video-iframe + .video-iframe,
  p.text + .video-iframe {
    margin-top: 2.5em; }
  .video-iframe + p.text {
    margin-top: 2em; }

.section {
  padding-top: 2.5em;
  padding-bottom: 2.5em; }
  @media screen and (min-width: 50em) {
    .section {
      padding-top: 3.75em;
      padding-bottom: 3.75em; } }
  .section--with-alt-background-color {
    background-color: #f9f9f9; }
  .section--with-gradient-background-color {
    background: linear-gradient(180deg, white 0%, #f9f9f9 100%); }
  .section__icon {
    margin-bottom: 1em;
    fill: #4a4a4a;
    text-align: center; }
    .section__icon--positive {
      fill: #43cb79; }
    .section__icon-img {
      margin: 0 0.625em; }
      @media screen and (max-width: 23.375em) {
        .section__icon-img {
          height: 3.125em; } }
  .section--with-list {
    overflow: hidden; }
  .section__list {
    margin: -1.875em -1.25em; }
    .text + .section__list {
      margin-top: 0; }
    .section__list-item {
      box-sizing: border-box;
      padding: 0 1.25em;
      margin: 1.875em 0; }
  .section__header {
    margin-bottom: 1.25em; }
    @media screen and (min-width: 50em) {
      .section__header {
        margin-bottom: 1.875em; } }

.button {
  display: inline-block;
  min-height: 2em;
  box-sizing: border-box;
  padding: 0.375em 0.625em;
  border: 0;
  border-radius: 0.125em;
  background-color: #4664af;
  color: white;
  fill: white;
  font-family: "Melbourne Bold", serif;
  font-size: 1em;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  user-select: none;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none; }
  .button::-moz-focus-inner {
    padding: 0;
    border: 0; }
  .button:disabled {
    cursor: initial; }
  .button--openwork {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    border: solid 2px #4664af;
    background-color: transparent;
    color: #4664af;
    fill: #4664af; }
    .button--openwork:hover, .button--openwork:active, .button--openwork:focus {
      background: #4664af;
      color: white;
      fill: white; }
  .button--sale {
    background-color: #e60050;
    color: white;
    fill: white; }
  .button--sale.button--openwork {
    border-color: #e60050;
    background-color: transparent;
    color: #e60050; }
    .button--sale.button--openwork:hover, .button--sale.button--openwork:active, .button--sale.button--openwork:focus {
      border-color: #e60050;
      background-color: #e60050;
      color: white; }
  .button--positive {
    background-color: #43cb79;
    color: white;
    fill: white; }
  .button--positive.button--openwork {
    border-color: #43cb79;
    background-color: transparent;
    color: #43cb79; }
    .button--positive.button--openwork:hover, .button--positive.button--openwork:active, .button--positive.button--openwork:focus {
      border-color: #43cb79;
      background-color: #43cb79;
      color: white; }
  .button--disabled {
    border-color: rgba(74, 74, 74, 0.5);
    background-color: rgba(74, 74, 74, 0.5);
    color: white;
    fill: white;
    cursor: default; }
  .button__label, .button__icon {
    position: relative;
    display: inline-block;
    vertical-align: top; }
  .button__icon {
    margin-right: 0.625em;
    transition: all 0.2s ease-in-out; }
  .button__label + .button__icon {
    margin-right: 0;
    margin-left: 0.625em; }

.input {
  position: relative;
  display: block;
  height: 2em;
  width: 100%;
  box-sizing: border-box;
  padding: 0.375em 0.625em;
  border: solid 1px #4a4a4a;
  border-radius: 0.125em;
  overflow: hidden;
  background: transparent;
  color: #4a4a4a;
  font-family: "Melbourne Bold", serif;
  font-size: 1em;
  line-height: 1.25;
  transition: border 0.2s ease-in-out;
  -webkit-appearance: none; }
  .input::placeholder {
    color: rgba(74, 74, 74, 0.5); }
  .input:placeholder-shown {
    border-color: rgba(74, 74, 74, 0.2); }
  .input:read-only {
    border-color: #4a4a4a;
    color: rgba(74, 74, 74, 0.5); }
  .input:focus {
    border: solid 1px #4a4a4a; }
  .input--error, .input--error:hover, .input--error:focus {
    border-color: #dd3938; }
  .input__wrapper {
    position: relative;
    display: inline-block;
    width: auto; }
  .input--with-icon {
    padding-left: 2.5em; }
  .input__icon {
    position: absolute;
    top: 50%;
    left: 0.625em;
    height: 1.25em;
    width: 1.25em;
    margin-top: -0.625em;
    fill: #4a4a4a;
    transition: all 0.2s ease-in-out; }
  .input:placeholder-shown + .input__icon {
    fill: rgba(74, 74, 74, 0.5); }

.number-box {
  position: relative;
  height: 2em;
  width: 100%;
  box-sizing: border-box;
  padding-right: 1.25em;
  border: solid 1px #4a4a4a;
  border-radius: 0.125em; }
  .number-box input[type='number'] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield; }
  .number-box input[type='number']::-webkit-inner-spin-button,
  .number-box input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none; }
  .number-box__input {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 0.375em 0.625em;
    border: 0;
    overflow: hidden;
    background: transparent;
    color: #4a4a4a;
    font-family: "Melbourne Bold", serif;
    font-size: 1em;
    line-height: 1.25; }
    .number-box__input::placeholder {
      color: rgba(74, 74, 74, 0.5); }
    .number-box__input:read-only {
      border-color: #4a4a4a;
      color: rgba(74, 74, 74, 0.5); }
    .number-box__input--error, .number-box__input--error:hover, .number-box__input--error:focus {
      border-color: #dd3938; }
  .number-box__step-up, .number-box__step-down {
    position: absolute;
    right: 0;
    height: 50%;
    width: 1.25em;
    cursor: pointer; }
    .number-box__step-up::after, .number-box__step-down::after {
      content: '';
      position: absolute;
      left: 50%;
      display: block;
      height: 0;
      width: 0;
      margin-left: -0.125em;
      border-style: solid;
      transition: border 0.2s ease-in-out; }
  .number-box__step-up {
    top: 0; }
    .number-box__step-up::after {
      bottom: 0.125em;
      border-color: transparent transparent #4a4a4a;
      border-width: 0 0.1875em 0.25em; }
    .number-box__step-up:hover::after {
      border-bottom-color: #4664af; }
  .number-box__step-down {
    bottom: 0; }
    .number-box__step-down::after {
      top: 0.125em;
      border-color: #4a4a4a transparent transparent;
      border-width: 0.25em 0.1875em 0; }
    .number-box__step-down:hover ::after {
      border-top-color: #4664af; }

.menu__list {
  margin-right: -0.625em;
  margin-left: -0.625em; }

.menu__link {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  box-sizing: border-box;
  padding: 0.625em;
  border-bottom: solid 1px transparent;
  color: #4a4a4a;
  fill: #4a4a4a;
  line-height: 1.875em;
  text-decoration: none;
  transition: all 0.2s ease-in-out; }
  .menu__link--with-icon {
    padding-left: 2.5em; }
  .menu__link-icon {
    position: absolute;
    top: 50%;
    left: 0.625em;
    width: 1.25em;
    margin-top: -0.125em;
    text-align: center;
    transform: translateY(-50%); }
  .menu__link:focus {
    outline: none; }
  .menu__link--active, .menu__link:hover, .menu__link:active, .menu__link:focus {
    color: #4664af;
    fill: #4664af; }
  .menu__link .text {
    display: inline-block;
    border-bottom: solid 1px transparent;
    transition: border 0.2s ease-in-out; }
  .menu__link--active-border .text {
    border-color: #4664af; }

.notification {
  position: relative;
  box-sizing: border-box;
  padding: 1.25em 2.1875em 1.25em 0.625em;
  border-radius: 0.125em;
  background-color: white; }
  .notification + .notification {
    margin-top: 0.625em; }
  @media screen and (min-width: 50em) {
    .notification {
      padding-right: 5.9375em;
      padding-left: 2.5em; } }
  .notification__cta {
    margin-top: 1em; }
  .notification__close-button {
    width: auto;
    padding: 0;
    margin: 0;
    border: 0;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    cursor: pointer;
    user-select: none;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
    position: absolute;
    top: 0.625em;
    right: 0.625em;
    fill: #4a4a4a; }
    .notification__close-button::-moz-focus-inner {
      padding: 0;
      border: 0; }
    .notification__close-button:disabled {
      cursor: initial; }
  .notification--special {
    background-color: #c1cce6;
    color: #4664af; }
  .notification--special .notification__close-button {
    fill: #4664af; }
  .notification--with-shadow {
    box-shadow: 0 0.125em 0.25em 0 rgba(74, 74, 74, 0.5); }

.accordion {
  display: block;
  max-width: 61.25em;
  margin: 0 auto;
  border-bottom: solid 1px rgba(74, 74, 74, 0.2); }
  .accordion__cta {
    position: relative;
    box-sizing: border-box;
    padding: 1em 1.875em 1em 0;
    cursor: pointer;
    transition: color 0.2s ease-in-out; }
    .accordion__cta::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      height: 1.25em;
      width: 1.25em;
      margin-top: -0.625em;
      background-image: url('data:image/svg+xml;charset=UTF-8,%3csvg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 20 20"%3e%3cline stroke="%239B9B9B" x1="10" y1="20" x2="10" y2="0"/%3e%3cline stroke="%239B9B9B" x1="0" y1="10" x2="20" y2="10"/%3e%3c/svg%3e');
      transform: rotate(0deg);
      transition: transform 0.2s ease-in-out; }
    .accordion__cta:focus {
      outline: none; }
    .accordion__cta:hover, .accordion__cta:active, .accordion__cta:focus {
      color: #4664af; }
    .accordion__cta--active::after {
      transform: rotate(45deg); }
  .accordion__panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out; }
    .accordion__panel *:last-child {
      margin-bottom: 2.5em; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slick-list {
  margin: 0 -0.625em; }

.slick-slide {
  padding: 0 0.625em; }
  .slick-slide img {
    max-width: 100%; }
  .slick-slide:focus,
  .slick-slide a {
    outline: none; }

.slick-slider .slick-dots {
  margin: calc(0.625em - 3px) 3px -3px;
  text-align: center; }
  .slick-slider .slick-dots button {
    display: block;
    height: 6px;
    width: 6px;
    padding: 0;
    border: 0;
    background: transparent;
    color: transparent;
    font-size: 0;
    line-height: 0;
    cursor: pointer; }
    .slick-slider .slick-dots button::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 6px;
      width: 6px;
      border-radius: 3px;
      background-color: #4a4a4a;
      opacity: .5;
      transform: translateZ(0);
      transition: opacity 0.4s ease-in-out;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
    .slick-slider .slick-dots button:hover::before, .slick-slider .slick-dots button:active::before, .slick-slider .slick-dots button:focus::before {
      opacity: 1; }
  .slick-slider .slick-dots li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 3px;
    cursor: pointer; }
    .slick-slider .slick-dots li.slick-active button::before {
      opacity: 1; }

.slick-prev,
.slick-next {
  width: auto;
  padding: 0;
  margin: 0;
  border: 0;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  cursor: pointer;
  user-select: none;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  position: absolute;
  top: 50%;
  z-index: 1;
  display: block;
  height: 1.875em;
  width: 1.875em;
  margin-top: -0.9375em;
  border-radius: 50%;
  overflow: hidden;
  background: #4664af;
  color: transparent; }
  .slick-prev::-moz-focus-inner,
  .slick-next::-moz-focus-inner {
    padding: 0;
    border: 0; }
  .slick-prev:disabled,
  .slick-next:disabled {
    cursor: initial; }
  .slick-prev::before,
  .slick-next::before {
    content: '';
    position: absolute;
    top: 50%;
    height: 0.9375em;
    width: 0.625em;
    margin-top: -0.46875em;
    background-image: url('data:image/svg+xml;charset=UTF-8,%3csvg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 10 15"%3e%3cpolygon fill="#FFF" points="1.7,13 7.3,7.5 1.7,2 2.2,1.5 8.3,7.5 2.2,13.5"/%3e%3c/svg%3e'); }

.slick-prev {
  right: 100%;
  margin-right: 0.625em; }
  .slick-prev::before {
    left: 0.5625em;
    transform: rotate(180deg); }

.slick-next {
  left: 100%;
  margin-left: 0.625em; }
  .slick-next::before {
    right: 0.5625em;
    transform: rotate(0deg); }

.select {
  position: relative;
  display: block;
  height: 2em;
  width: auto;
  box-sizing: border-box;
  padding: 0.375em 2em 0.375em 0.625em;
  border: solid 1px #4a4a4a;
  border-radius: 0.125em;
  background: transparent;
  background-image: url('data:image/svg+xml;charset=UTF-8,%3csvg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 12 8"%3e%3cpolygon points="6,7.2 6.5,6.7 11.4,2 10.5,0.8 6,5.1 1.5,0.8 0.6,2 5.5,6.7"/%3e%3c/svg%3e');
  background-position: bottom 50% right 0.625em;
  background-repeat: no-repeat;
  background-size: 0.75em 0.5em;
  color: #4a4a4a;
  font-family: "Melbourne Bold", serif;
  font-size: 1em;
  line-height: 1.25;
  cursor: pointer;
  transition: border 0.2s ease-in-out;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button; }
  .select::-ms-expand {
    display: none; }
  .select[disabled], .select:disabled {
    border-color: rgba(74, 74, 74, 0.2);
    background-image: url('data:image/svg+xml;charset=UTF-8,%3csvg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 12 8"%3e%3cpolygon fill="#9B9B9B" points="6,7.2 6.5,6.7 11.4,2 10.5,0.8 6,5.1 1.5,0.8 0.6,2 5.5,6.7"/%3e%3c/svg%3e');
    color: rgba(74, 74, 74, 0.5);
    cursor: not-allowed; }
  .select:invalid {
    border-color: rgba(74, 74, 74, 0.2);
    background-image: url('data:image/svg+xml;charset=UTF-8,%3csvg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 12 8"%3e%3cpolygon fill="#9B9B9B" points="6,7.2 6.5,6.7 11.4,2 10.5,0.8 6,5.1 1.5,0.8 0.6,2 5.5,6.7"/%3e%3c/svg%3e');
    color: rgba(74, 74, 74, 0.5); }

.checkbox__input[type='checkbox']:not(:checked), .checkbox__input[type='checkbox']:checked {
  position: absolute;
  left: -624.9375em; }
  .checkbox__input[type='checkbox']:not(:checked) + .checkbox__label, .checkbox__input[type='checkbox']:checked + .checkbox__label {
    position: relative;
    display: block;
    min-height: 3.4375em;
    min-width: 3.4375em;
    cursor: pointer;
    user-select: none; }
    .checkbox__input[type='checkbox']:not(:checked) + .checkbox__label--with-border::before, .checkbox__input[type='checkbox']:checked + .checkbox__label--with-border::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      height: 100%;
      width: 100%;
      box-sizing: border-box;
      border: solid 1px #4a4a4a;
      transition: border 0.2s ease-in-out; }
    .checkbox__input[type='checkbox']:not(:checked) + .checkbox__label::after, .checkbox__input[type='checkbox']:checked + .checkbox__label::after {
      content: '✓';
      position: absolute;
      top: 0.625em;
      right: 0.625em;
      z-index: 1;
      height: 2.1875em;
      width: 2.1875em;
      box-sizing: border-box;
      border: solid 1px #4a4a4a;
      border-radius: 50%;
      color: #4a4a4a;
      font-family: 'Lucida Grande', sans-serif;
      font-weight: bold;
      line-height: 2.1875em;
      text-align: center;
      transition: color 0.2s ease-in-out, background 0.2s ease-in-out, border 0.2s ease-in-out; }
  .checkbox__input[type='checkbox']:not(:checked):focus + .checkbox__label::after, .checkbox__input[type='checkbox']:checked:focus + .checkbox__label::after {
    outline: auto;
    outline-color: -webkit-focus-ring-color; }

.checkbox__input[type='checkbox']:not(:checked) + .checkbox__label::after {
  background-color: transparent;
  color: transparent; }

.checkbox__input[type='checkbox']:checked + .checkbox__label--with-border::before {
  border-color: #43cb79;
  border-width: 2px; }

.checkbox__input[type='checkbox']:checked + .checkbox__label::after {
  border-color: #43cb79;
  background-color: #43cb79;
  color: white; }

.checkbox--light .checkbox__input[type='checkbox']:not(:checked) + .checkbox__label::after,
.checkbox--light .checkbox__input[type='checkbox']:checked + .checkbox__label::after {
  border-color: white; }

.checkbox--light .checkbox__input[type='checkbox']:checked + .checkbox__label::after {
  border-color: white;
  background-color: white;
  color: #43cb79; }

.checkbox--out .checkbox__input[type='checkbox']:not(:checked) + .checkbox__label > *,
.checkbox--out .checkbox__input[type='checkbox']:checked + .checkbox__label > * {
  opacity: 1;
  transition: opacity 0.2s ease-in-out; }

.checkbox--out .checkbox__input[type='checkbox']:not(:checked) + .checkbox__label::after,
.checkbox--out .checkbox__input[type='checkbox']:checked + .checkbox__label::after {
  content: '';
  background-image: none;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 0.9375em; }

.checkbox--out .checkbox__input[type='checkbox']:checked + .checkbox__label > * {
  opacity: .5; }

.checkbox--out .checkbox__input[type='checkbox']:checked + .checkbox__label--with-border::before {
  border-color: rgba(74, 74, 74, 0.5);
  border-width: 1px; }

.checkbox--out .checkbox__input[type='checkbox']:checked + .checkbox__label::after {
  border-color: white;
  background-color: white;
  background-image: url('data:image/svg+xml;charset=UTF-8,%3csvg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 15 15"%3e%3cpolygon fill="%23dd3938" points="13.2,2.6 12.5,1.8 7.5,6.8 2.6,1.8 1.8,2.6 6.8,7.5 1.8,12.5 2.6,13.2 7.5,8.2 12.5,13.2 13.2,12.5 8.2,7.5"/%3e%3c/svg%3e');
  opacity: 1; }

.toggler {
  width: auto;
  padding: 0;
  margin: 0;
  border: 0;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  cursor: pointer;
  user-select: none;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  width: 2.5em;
  text-align: center; }
  .toggler::-moz-focus-inner {
    padding: 0;
    border: 0; }
  .toggler:disabled {
    cursor: initial; }
  .toggler__arrow {
    display: block;
    fill: #4a4a4a;
    transform: scaleY(1);
    transition: all 0.2s ease-in-out; }
  .toggler:hover .toggler__arrow,
  .toggler:active .toggler__arrow,
  .toggler:focus .toggler__arrow {
    fill: #4664af; }
  .toggler__bars {
    position: relative;
    display: inline-block;
    height: 0.75em;
    width: 1.375em; }
  .toggler__bar {
    position: absolute;
    left: 0;
    display: block;
    height: 0.1875em;
    width: 100%;
    border-radius: 0.09375em;
    background: #4a4a4a;
    transform: rotate(0deg);
    transition: transform 0.4s ease-in-out; }
    .toggler__bar:first-child {
      top: 0;
      transform-origin: center; }
    .toggler__bar:last-child {
      bottom: 0;
      transform-origin: center; }
  .toggler--active .toggler__bar:first-child {
    transform: rotate(45deg) translateX(0.20312em) translateY(0.20312em); }
  .toggler--active .toggler__bar:last-child {
    transform: rotate(-45deg) translateX(0.20312em) translateY(-0.20312em); }
  .toggler--active .toggler__arrow {
    transform: scaleY(-1); }

.basket-access {
  width: auto;
  padding: 0;
  margin: 0;
  border: 0;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  cursor: pointer;
  user-select: none;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  height: 3.125em;
  fill: #e60050; }
  .basket-access::-moz-focus-inner {
    padding: 0;
    border: 0; }
  .basket-access:disabled {
    cursor: initial; }

.nav,
.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%; }
  .nav--with-shadow,
  .mobile-nav--with-shadow {
    box-shadow: 0 0.125em 0.25em 0 rgba(74, 74, 74, 0.5); }
  .nav__bar,
  .mobile-nav__bar {
    position: relative;
    z-index: 1;
    background-color: white; }
    .nav__bar-row,
    .mobile-nav__bar-row {
      display: flex;
      flex-direction: row; }
    .nav__bar::after,
    .mobile-nav__bar::after {
      content: ' ';
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      border-bottom: solid 1px rgba(74, 74, 74, 0.2); }

body {
  padding-top: 3.125em; }
  @media screen and (min-width: 62.5em) {
    body {
      padding-top: 7.5em; } }

.nav {
  display: none; }
  @media screen and (min-width: 62.5em) {
    .nav {
      display: block; } }
  .nav__brand {
    height: 7.5rem;
    box-sizing: border-box;
    padding: 0.625rem 0;
    margin-right: 2.5rem;
    font-size: 0;
    white-space: nowrap; }
    .nav__brand::after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      height: 100%;
      width: 1px;
      margin-left: -1px; }
  .nav__logo {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: auto;
    max-height: 4.375rem; }
  .nav__menus-wrapper {
    flex: 1 1 auto;
    display: inline-block;
    vertical-align: middle; }
  .nav__menu-row {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .nav__menu-row--with-basket {
    position: relative;
    height: 4.375em;
    padding-right: 4.6875em; }
  .nav__basket-access {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%); }
  .nav__menu-row + .nav__menu-row {
    margin-top: -1px;
    border-top: solid 1px rgba(74, 74, 74, 0.2); }
  .nav__info, .nav__menu {
    display: inline-block;
    vertical-align: baseline; }
  .nav__promotion {
    color: #e60050; }
  .nav .menu__item {
    display: inline-block;
    vertical-align: baseline;
    margin-right: 1.25em; }
    .nav .menu__item:last-child {
      margin-right: 0; }

@media screen and (min-width: 62.5em) {
  .mobile-nav {
    display: none; } }

.mobile-nav__bar-row {
  align-items: center;
  text-align: center; }

.mobile-nav__toggler {
  display: inline-block;
  vertical-align: middle;
  height: 3.125em; }

.mobile-nav__brand {
  flex: 1 1 auto;
  display: inline-block;
  vertical-align: middle;
  text-align: center; }

.mobile-nav__logo {
  height: 1.875em; }

.mobile-nav__basket-access {
  display: inline-block;
  vertical-align: middle; }

.mobile-nav__search-form {
  margin-top: 0.625em;
  padding-bottom: 2.5em; }

.mobile-nav .menu {
  position: fixed;
  top: 3.125em;
  left: 0;
  width: 100%;
  overflow: auto;
  background-color: white;
  box-shadow: 0 0.125em 0.25em 0 rgba(74, 74, 74, 0.5);
  transition: height 0.4s ease-in-out; }
  .mobile-nav .menu__row {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box; }
  .mobile-nav .menu__list {
    flex: 1 1 auto; }
  .mobile-nav .menu:not(.menu--visible) {
    height: 0; }
  .mobile-nav .menu--visible {
    height: 100%;
    height: calc(100% - 3.125em); }

.mobile-nav .menu__item + .menu__item {
  border-top: solid 1px rgba(74, 74, 74, 0.2); }
  .mobile-nav .menu__item + .menu__item--with-stronger-separator {
    border-color: #4a4a4a; }

.main-notifications-list {
  position: absolute;
  top: 3.125em;
  right: 0;
  left: 0;
  z-index: 2;
  max-width: 51.25em;
  margin: 1.25em auto 0; }
  @media screen and (min-width: 62.5em) {
    .main-notifications-list {
      top: 7.5em; } }
  .main-notifications-list--after-secondary-menu {
    top: 6.25em; }
    @media screen and (min-width: 62.5em) {
      .main-notifications-list--after-secondary-menu {
        top: 11.25em; } }

.cart-notifications-list {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
  box-sizing: border-box;
  padding-top: 0.625em;
  padding-bottom: 0.625em;
  text-align: center; }
  @media screen and (min-width: 50em) {
    .cart-notifications-list {
      max-width: 15.625em; }
      .cart-notifications-list .notification {
        padding: 2.1875em 0.625em 1.25em; } }

.secondary-nav {
  position: sticky;
  top: 3.125em;
  z-index: 2;
  border-top: solid 1px rgba(74, 74, 74, 0.2);
  background-color: #f9f9f9;
  box-shadow: 0 0.125em 0.25em 0 rgba(74, 74, 74, 0.5); }
  .secondary-nav__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.125em;
    margin: 0 -0.625em; }
    .secondary-nav__wrapper > * {
      display: inline-block;
      vertical-align: middle;
      margin: 0 0.625em; }
  .secondary-nav__toggler {
    position: absolute;
    top: 0;
    left: 0;
    height: 3.125em;
    width: 100%;
    padding: 0 0.625em;
    text-align: right; }
  .secondary-nav__col--with-centered-content {
    flex: 1 1 auto;
    text-align: center; }
  .secondary-nav__title-wrapper {
    position: relative; }
  .secondary-nav__back {
    position: absolute;
    top: 50%;
    right: 100%;
    margin-right: 2.5em;
    transform: translateY(-50%); }
    .secondary-nav__back-link {
      fill: #4a4a4a;
      transition: all 0.2s ease-in-out; }
      .secondary-nav__back-link:hover, .secondary-nav__back-link:active, .secondary-nav__back-link:focus {
        fill: #4664af; }
    @media screen and (max-width: 79.9375em) {
      .secondary-nav__back {
        display: none; } }
  .secondary-nav .input,
  .secondary-nav .number-box {
    border: solid 1px rgba(74, 74, 74, 0.2);
    background: white; }
  .secondary-nav .menu__item {
    display: inline-block;
    vertical-align: baseline;
    margin-right: 0.625em; }
    .secondary-nav .menu__item:last-child {
      margin-right: 0; }
  .secondary-nav__menu--collapsable {
    overflow: auto;
    transition: height 0.2s ease-in-out; }
    .secondary-nav__menu--collapsable .menu__list {
      max-width: 16.25em;
      margin: 0 auto; }
    .secondary-nav__menu--collapsable .menu__item {
      width: 100%;
      margin: 0; }
      .secondary-nav__menu--collapsable .menu__item:last-child {
        margin-bottom: 2.5em; }
    .secondary-nav__menu--collapsable .menu__item + .menu__item {
      border-top: solid 1px rgba(74, 74, 74, 0.2); }
      .secondary-nav__menu--collapsable .menu__item + .menu__item--with-stronger-separator {
        border-color: #4a4a4a; }
    .secondary-nav__menu--collapsable:not(.menu--visible) {
      height: 0; }
    .secondary-nav__menu--collapsable.menu--visible {
      height: auto; }
  .secondary-nav__show-md {
    display: none; }
  @media screen and (min-width: 62.5em) {
    .secondary-nav {
      top: 4.375em;
      background: rgba(255, 255, 255, 0.8);
      background: linear-gradient(white, rgba(255, 255, 255, 0.8)); }
      .secondary-nav__wrapper {
        min-height: 3.75em; }
      .secondary-nav__title-wrapper, .secondary-nav__menu {
        display: inline-block;
        vertical-align: text-top;
        margin-top: 0.3125em; }
      .secondary-nav__title-wrapper {
        margin-right: 2.5em; }
      .secondary-nav .add-in-cart-form {
        font-size: 1.25em; }
      .secondary-nav__show-md {
        display: inline-block; }
      .secondary-nav__hide-md {
        display: none; } }

.add-in-cart-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: -0.3125em; }
  .add-in-cart-form__quantity-input {
    flex: 0 1 3.75em;
    width: 3.75em;
    margin: 0.3125em;
    border-width: 2px; }
  .add-in-cart-form__button {
    flex: 1 1 auto;
    margin: 0.3125em; }

.product {
  display: flex;
  flex-direction: column; }
  .product__thumbnail {
    position: relative; }
    .product__thumbnail-link {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      height: 100%;
      width: 100%; }
  .product__image-wrapper {
    position: relative;
    box-sizing: border-box;
    padding: 33.33333% 50%;
    background-color: #5cc1e3; }
    .product__image-wrapper--square {
      padding: 50%; }
  .product__image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover; }
    .product__image--seed {
      top: 50%;
      left: 50%;
      height: auto;
      width: 150%;
      transform: translate(-50%, -50%); }
  .product__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.25em 0.625em 0.625em;
    border: solid 1px rgba(74, 74, 74, 0.2);
    border-top: 0; }
  .product__designation-and-price {
    display: flex;
    justify-content: space-between;
    align-items: baseline; }
  .product__designation {
    padding-right: 0.625em; }
  .product__category, .product__name {
    text-transform: uppercase; }
  .product__price {
    color: #e60050; }
  .product__intro {
    flex: 1 1 auto;
    margin-top: 0.625em; }
  .product__add-in-cart-form {
    margin-top: 0.9375em; }
  .product__see-more {
    margin-top: 1.25em;
    color: rgba(74, 74, 74, 0.5); }
    .product__see-more-link {
      color: rgba(74, 74, 74, 0.5);
      text-decoration: none;
      transition: color 0.2s ease-in-out; }
      .product__see-more-link:focus {
        outline: none; }
      .product__see-more-link:hover, .product__see-more-link:active, .product__see-more-link:focus {
        color: #4664af; }

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -1.875em -0.625em;
  text-align: center; }
  @media screen and (min-width: 23.4375em) {
    .products-list {
      margin-right: -1.25em;
      margin-left: -1.25em; } }
  .products-list__item {
    box-sizing: border-box;
    padding: 0 0.625em;
    margin: 1.875em 0;
    text-align: initial; }
    @media screen and (min-width: 23.4375em) {
      .products-list__item {
        padding: 0 1.25em; } }
    .products-list__item .product {
      height: 100%; }
    .products-list__item .product__content {
      flex: 1 1 auto; }
  .products-list--plants {
    justify-content: initial;
    text-align: left; }
    @media screen and (min-width: 50em) {
      .products-list--plants {
        margin-right: -3.5461%;
        margin-left: -3.5461%; } }
  @media screen and (min-width: 50em) {
    .products-list--plants .products-list__item {
      padding: 0 3.31126%; } }

.news {
  background-color: white;
  box-shadow: 0 0.125em 0.25em 0 rgba(74, 74, 74, 0.5); }
  .news__link {
    position: relative;
    display: block;
    transition: color 0.2s ease-in-out; }
    .news__link::after {
      content: '→';
      position: absolute;
      top: 0.625em;
      right: 0.625em;
      z-index: 1;
      height: 2.1875em;
      width: 2.1875em;
      border-radius: 50%;
      background-color: white;
      color: #4a4a4a;
      font-family: 'Lucida Grande', sans-serif;
      font-weight: bold;
      line-height: 2.1875em;
      text-align: center;
      transition: color 0.2s ease-in-out; }
    .news__link:hover, .news__link:active, .news__link:focus {
      color: #4664af; }
      .news__link:hover::after, .news__link:active::after, .news__link:focus::after {
        color: #4664af; }
  .news__image-wrapper {
    position: relative;
    box-sizing: border-box;
    padding: 24.31907% 50%; }
    .news__image-wrapper--square {
      padding: 50%; }
  .news__image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .news__content {
    padding: 1.25em 0.625em; }

.news-list {
  display: flex;
  flex-wrap: wrap;
  margin: -1.875em -0.625em; }
  @media screen and (min-width: 23.4375em) {
    .news-list {
      margin-right: -1.25em;
      margin-left: -1.25em; } }
  .news-list__item {
    box-sizing: border-box;
    padding: 0 0.625em;
    margin: 1.875em 0; }
    @media screen and (min-width: 23.4375em) {
      .news-list__item {
        padding: 0 1.25em; } }
    @media screen and (min-width: 50em) {
      .news-list__item:nth-child(odd) {
        padding-right: 3.125em; }
      .news-list__item:nth-child(even) {
        padding-left: 3.125em; } }
    .news-list__item .news {
      height: 100%; }

.person {
  background-color: white; }
  .person__image-wrapper {
    position: relative;
    box-sizing: border-box;
    padding: 50%;
    overflow: hidden; }
  .person__image {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    min-width: 100%;
    object-fit: cover;
    transform: translateX(-50%); }
  .person__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.25em 0.625em 0.625em;
    border: solid 1px rgba(74, 74, 74, 0.2);
    border-top: 0; }
    .person__content .text__link {
      text-decoration: none; }
  .person__contact {
    flex: 1 1 auto;
    margin-top: 0.625em; }

.people {
  display: flex;
  flex-wrap: wrap;
  margin: -1.875em -0.625em; }
  @media screen and (min-width: 23.4375em) {
    .people {
      margin-right: -1.25em;
      margin-left: -1.25em; } }
  .people__item {
    box-sizing: border-box;
    padding: 0 0.625em;
    margin: 1.875em 0; }
    @media screen and (min-width: 23.4375em) {
      .people__item {
        padding: 0 1.25em; } }
    .people__item .person {
      display: flex;
      flex-direction: column;
      height: 100%; }
    .people__item .person__content {
      flex: 1 1 auto; }

.releases__see-more {
  position: relative;
  display: block;
  width: 100%;
  padding: 1em 1.875em 1em 0;
  margin-top: 3.75em;
  border: 0;
  border-top: solid 1px rgba(74, 74, 74, 0.2);
  border-bottom: solid 1px rgba(74, 74, 74, 0.2);
  background: transparent;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  user-select: none;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none; }
  .releases__see-more::-moz-focus-inner {
    padding: 0;
    border: 0; }
  .releases__see-more:disabled {
    cursor: initial; }
  .releases__see-more:hover, .releases__see-more:active, .releases__see-more:focus {
    color: #4664af; }
  .releases__see-more::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    height: 1.25em;
    width: 1.25em;
    margin-top: -0.625em;
    background-image: url('data:image/svg+xml;charset=UTF-8,%3csvg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 20 20"%3e%3cline stroke="%239B9B9B" x1="10" y1="20" x2="10" y2="0"/%3e%3cline stroke="%239B9B9B" x1="0" y1="10" x2="20" y2="10"/%3e%3c/svg%3e');
    transform: rotate(0deg);
    transition: transform 0.2s ease-in-out; }

.release__download-link {
  color: #4664af; }

@media screen and (max-width: 23.375em) {
  .release {
    padding: 1.25em 0.625em;
    border: solid 1px rgba(74, 74, 74, 0.6); }
    .release + .release {
      margin-top: 1.875em; } }

@media screen and (min-width: 23.4375em) {
  .releases {
    display: table;
    width: 100%;
    margin-top: -1.875em;
    margin-bottom: -1.875em;
    border-spacing: 0 1.875em; }
  .release {
    display: table-row; }
    .release__download {
      text-align: right; }
    .release__col {
      display: table-cell;
      padding: 1.25em 0.625em;
      margin: 0;
      border-top: solid 1px rgba(74, 74, 74, 0.6);
      border-bottom: solid 1px rgba(74, 74, 74, 0.6); }
      .release__col:first-child {
        border-left: solid 1px rgba(74, 74, 74, 0.6); }
      .release__col:last-child {
        border-right: solid 1px rgba(74, 74, 74, 0.6); } }

.search-form {
  position: relative;
  width: 100%; }
  .search-form__button {
    width: auto;
    padding: 0;
    margin: 0;
    border: 0;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    cursor: pointer;
    user-select: none;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
    position: absolute;
    top: 0.375em;
    left: 0.625em;
    width: 1.25em;
    fill: #4a4a4a;
    text-align: center; }
    .search-form__button::-moz-focus-inner {
      padding: 0;
      border: 0; }
    .search-form__button:disabled {
      cursor: initial; }
  .search-form__input {
    position: relative;
    display: block;
    height: 2em;
    width: 100%;
    box-sizing: border-box;
    padding: 0.375em 0.625em 0.375em 2.5em;
    border: 0;
    border-radius: 0.125em;
    overflow: hidden;
    background: #ebebeb;
    color: #4a4a4a;
    font-family: "Melbourne", sans-serif;
    font-size: 1em;
    line-height: 1.25; }
    .search-form__input::placeholder {
      color: rgba(74, 74, 74, 0.5); }
    .search-form__input:read-only {
      border-color: #4a4a4a;
      color: rgba(74, 74, 74, 0.5); }
    .search-form__input--error, .search-form__input--error:hover, .search-form__input--error:focus {
      border-color: #dd3938; }

.gallery__scene {
  position: relative;
  box-sizing: border-box;
  padding: 50%;
  overflow: hidden;
  background-color: #f9f9f9;
  background-size: cover;
  line-height: 0; }

.gallery__photo {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  object-fit: cover; }
  .gallery__photo.hide {
    opacity: 0;
    transition: opacity 0s; }

.gallery__nav {
  margin: 0.625em 0 -0.625em;
  line-height: 0; }

.gallery__item {
  display: inline-block;
  vertical-align: top;
  padding: 0.625em 1.25em 0.625em 0; }

.garden {
  text-align: center; }
  .garden__thumbnail {
    margin-bottom: 0.625em; }
  .garden__image {
    max-width: 100%; }
  p.text + p.garden__intro {
    margin: 0; }
  .garden__price {
    color: #e60050; }
  .garden__link {
    text-decoration: none; }
    .garden__link .text {
      color: #4a4a4a;
      transition: color 0.2s ease-in-out; }
    .garden__link:focus {
      outline: none; }
    .garden__link:hover .text, .garden__link:active .text, .garden__link:focus .text {
      color: #4664af; }
  .garden__price + .garden__cta,
  .garden__cta + .garden__see-more,
  .garden__intro + .garden__see-more {
    margin-top: 1em; }

@media screen and (max-width: 49.9375em) {
  .device {
    text-align: center; }
    .device__ill {
      max-width: 6.25em;
      margin-bottom: 0.625em; } }

.device__part + .device__part {
  margin-top: 2.5em; }

.faq__punchline {
  margin-top: 1em; }

.opinion {
  box-sizing: border-box;
  padding: 0.625em 0.625em 1.25em;
  border-radius: 0.1875em;
  background-color: #d3dbee;
  text-align: center; }
  .opinion__value {
    fill: rgba(74, 74, 74, 0.5); }

.opinions-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -0.625em; }
  .opinions-list__item {
    box-sizing: border-box;
    padding: 0 0.625em;
    margin: 0.625em 0; }
    .opinions-list__item .opinion {
      height: 100%; }
  .opinions-list__mention {
    margin-top: 2.5em;
    color: rgba(74, 74, 74, 0.5);
    text-align: right; }

.footer {
  padding-top: 2.5em;
  padding-bottom: 1.25em;
  background-color: #f9f9f9; }
  @media screen and (max-width: 71.6875em) {
    .footer hr {
      margin: 0 -0.625em; }
    .footer .accordion {
      padding-right: 0.625em;
      padding-left: 0.625em;
      margin: 0 -0.625em; }
      .footer .accordion__panel {
        padding-left: 2.5em; }
        .footer .accordion__panel *:last-child {
          margin-bottom: 1.25em; } }
  .footer .text__link {
    text-decoration: none; }
  .footer__breadcrumb {
    margin-bottom: 1.25em; }
  .footer__menu {
    margin: 1.25em 0;
    column-count: 2;
    column-gap: 3.125em; }
    @media screen and (min-width: 34.375em) {
      .footer__menu {
        column-count: 3; } }
    .footer__menu-group {
      margin-bottom: 1.875em;
      page-break-inside: avoid;
      break-inside: avoid;
      break-inside: avoid-column; }
  .footer__subscibe-to-newsletter, .footer__social-networks {
    margin: 1.25em 0; }
    @media screen and (min-width: 71.75em) {
      .footer__subscibe-to-newsletter, .footer__social-networks {
        margin-bottom: 2.5em; } }
  .footer__subscibe-to-newsletter-form {
    max-width: 18.75em;
    margin: 0.625em 0; }
  .footer__legals {
    margin: 1.25em 0; }
  .footer__country {
    margin: 1.25em 0; }
  .footer__select-country {
    border: 0;
    background: none;
    color: #4a4a4a;
    cursor: pointer;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button; }
    .footer__select-country::-ms-expand {
      display: none; }
  @media screen and (min-width: 71.75em) {
    .footer__legals-and-coutry {
      display: flex;
      align-items: center; }
    .footer__legals {
      flex: 1 1 auto; } }

.legals-menu__item {
  display: inline-block;
  vertical-align: baseline; }
  .legals-menu__item::after {
    content: '|';
    margin: 0 0.625em; }
  .legals-menu__item:last-child::after {
    content: none; }

.arguments {
  padding-top: 2.5em;
  padding-bottom: 2.5em; }
  @media screen and (min-width: 50em) {
    .arguments {
      padding-top: 3.75em;
      padding-bottom: 3.75em; } }

.argument {
  text-align: center; }
  .argument__icon {
    display: inline-block;
    max-width: 100%;
    margin-bottom: .5em;
    fill: #4a4a4a; }
    .argument__icon--red {
      fill: #e60050; }
    .argument__icon--green {
      fill: #43cb79; }
    .argument__icon--blue {
      fill: #4664af; }

.social-networks {
  margin: 0.375em 0; }
  .social-networks__item {
    display: inline-block;
    vertical-align: middle;
    margin: 0.25em; }

.subscibe-to-newsletter-form {
  display: flex; }
  .subscibe-to-newsletter-form .input {
    flex: 1 1 auto;
    margin-right: 0.625em;
    border: 0;
    background-color: white;
    box-shadow: 0 0.125em 0.25em 0 rgba(74, 74, 74, 0.5); }

.category__ill {
  display: block;
  max-width: 100%;
  margin: 0 auto; }

.category__intro {
  padding-top: 2.5em;
  background-color: #dcdfd8;
  line-height: 0; }
  @media screen and (min-width: 50em) {
    .category__intro {
      padding-top: 3.75em; } }
  .category__intro-ill {
    width: 100%; }

.category__search {
  padding-top: 2.5em;
  text-align: center; }
  @media screen and (min-width: 50em) {
    .category__search {
      text-align: right; } }
  .category__search .input__wrapper {
    margin-bottom: 1em; }
  .category__search .select {
    display: inline-block; }
  .category__search .select + .select {
    margin-left: 0.625em; }

.category__plants {
  padding-top: 3.75em;
  margin-bottom: 3.75em;
  overflow: hidden; }
  @media screen and (min-width: 50em) {
    .category__plants {
      margin-bottom: 1.875em; } }

.category__mushrooms {
  padding-top: 3.75em;
  margin-bottom: 3.75em; }

.category__boxes {
  margin-top: 3.75em;
  margin-bottom: 3.75em; }
  @media screen and (min-width: 50em) {
    .category__boxes {
      margin-top: 1.875em; } }

.category__capsules {
  height: 20.3125em;
  overflow: hidden; }
  .category__capsules-ill {
    height: 100%;
    min-width: 100%;
    object-fit: cover; }

.plant__presentation {
  padding-top: 2.5em;
  padding-bottom: 3.75em; }

.plant__category {
  text-transform: uppercase; }

h1.plant__name + p.plant__intro {
  margin-top: 0; }

.plant__price {
  color: #e60050; }
  .plant__price-wrapper {
    margin: 1.25em 0; }

.plant__slider {
  margin: 1.25em 0; }

.plant__caracteristics-list {
  margin: 0.625em 0; }

.plant__insurances-list {
  margin-top: 2.5em; }

.plant__insurance {
  padding-left: 3.75em; }
  .plant__insurance-icon {
    top: 50%;
    width: 2.5em;
    transform: translateY(-50%);
    --alt: #43cb79; }

.plant__description {
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #5cc1e3;
  color: white; }
  .plant__description::before {
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    height: 2.5em;
    width: 100%;
    background-image: url('data:image/svg+xml;charset=UTF-8,%3csvg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1280 60" preserveAspectRatio="none"%3e%3cpolygon fill="%23FFFFFF" points="0,60 0,0 1280,0"/%3e%3c/svg%3e');
    background-repeat: no-repeat;
    background-size: 100%; }
  .plant__description-content {
    padding-top: 5em;
    padding-bottom: 2.5em; }
  @media screen and (min-width: 50em) {
    .plant__description::before {
      height: 3.75em; }
    .plant__description-content {
      padding-top: 7.5em;
      padding-bottom: 3.75em; } }
  @media screen and (max-width: 49.9375em) {
    .plant__description {
      text-align: center; } }

.plant__illustration {
  position: absolute;
  top: 50%;
  left: 50%;
  height: auto;
  width: 150%;
  transform: translate(-50%, -50%); }
  .plant__illustration-sup-wrapper {
    vertical-align: bottom; }
  .plant__illustration-wrapper {
    position: relative;
    box-sizing: border-box;
    padding: 50%; }

.plant__recipe {
  background-color: #b7ddeb; }
  @media screen and (max-width: 49.9375em) {
    .plant__recipe {
      text-align: center; } }

.plant__advices-list {
  margin: 1.875em 0; }

.plant__boxes-list {
  margin-top: -1.25em; }

.plant__presentation-and-description, .plant__list {
  overflow: hidden; }

.gardens__introduction {
  padding-top: 0; }
  @media screen and (max-width: 49.9375em) {
    .gardens__introduction {
      border-bottom: solid 1px rgba(74, 74, 74, 0.6); } }
  @media screen and (min-width: 50em) {
    .gardens__introduction {
      padding-top: 3.75em;
      overflow: hidden;
      background-color: #cfe6eb; } }

.gardens__illustration {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  text-align: center; }

.gardens__title {
  text-transform: uppercase; }

.gardens__list {
  margin-top: -1.875em; }
  @media screen and (min-width: 50em) {
    .gardens__list {
      margin-top: 0; } }

.gardens__item {
  box-sizing: border-box;
  margin-top: 3.75em; }
  @media screen and (min-width: 23.4375em) {
    .gardens__item:nth-child(odd) {
      padding-right: 0.625em; }
    .gardens__item:nth-child(even) {
      padding-left: 0.625em; } }
  @media screen and (min-width: 50em) {
    .gardens__item:nth-child(odd) {
      padding: 0 3.125em; }
    .gardens__item:nth-child(even) {
      padding: 0 3.125em; } }
  @media screen and (min-width: 50em) {
    .gardens__item {
      margin-top: 0; } }

.gardens__exposure {
  background-color: #ffc772; }
  .gardens__exposure svg {
    fill: white; }

.gardens__recipes {
  margin-top: 3.75em;
  background-color: #d0ebec; }
  @media screen and (max-width: 49.9375em) {
    .gardens__recipes {
      text-align: center; } }
  .gardens__recipes-illustration {
    max-width: 100%;
    margin-top: -6.25em; }

.gardens__video-and-recipes {
  overflow: hidden; }

.lilo__introduction {
  padding-top: 2.5em; }
  @media screen and (min-width: 50em) {
    .lilo__introduction {
      position: relative;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 53.125em;
      box-sizing: border-box;
      padding-top: 0;
      overflow: hidden;
      background-color: #e6e7ed;
      text-align: right; } }

.lilo__insurances {
  padding-top: 2.5em;
  padding-bottom: 2.5em; }
  @media screen and (min-width: 50em) {
    .lilo__insurances {
      background-color: #e6e7ed; } }

@media screen and (min-width: 50em) {
  .lilo__illustration {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover; } }

.lilo__infos {
  text-align: left; }

.lilo__opinions {
  margin-right: 0.625em;
  fill: #4a4a4a; }
  @media screen and (min-width: 50em) {
    p.text + p.lilo__opinions-wrapper {
      margin-top: 0; } }

.lilo__opinions, .lilo__link-to-opinions {
  display: inline-block;
  vertical-align: top; }

.lilo__link-to-opinions {
  margin-top: 0.25em;
  line-height: 1.125em; }

.lilo__price {
  color: #e60050; }
  .lilo__price-wrapper {
    margin: 1.25em 0; }

@media screen and (min-width: 50em) {
  .lilo__video {
    padding-bottom: 0; } }

.lilo__gallery {
  overflow: hidden; }
  @media screen and (max-width: 49.9375em) {
    .lilo__gallery {
      margin-top: 1em; } }

.lilo__cta {
  margin-top: 1em; }
  @media screen and (max-width: 49.9375em) {
    .lilo__cta {
      text-align: center; } }
  @media screen and (min-width: 50em) {
    .lilo__cta {
      margin-bottom: 1em; } }

.lilo__mention {
  max-width: 15.625em;
  margin-top: 1em; }

.lilo__light {
  padding-bottom: 0;
  background-color: #f8ba41;
  color: white; }
  .lilo__light .text__link {
    color: white; }
    .lilo__light .text__link:hover, .lilo__light .text__link:active, .lilo__light .text__link:focus {
      color: #4664af; }
  .lilo__light-image-wrapper {
    margin-top: 2.5em;
    line-height: 0;
    text-align: center; }
    .lilo__light-image-wrapper img {
      max-width: 100%; }

.lilo__plants {
  overflow: hidden; }

.modulo__notification-wrapper {
  width: 100%;
  max-width: 31.25em;
  margin: 0 auto 0.625em;
  text-align: center; }
  @media screen and (min-width: 50em) {
    .modulo__notification-wrapper {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1;
      margin-top: 1.25em; } }

.modulo__introduction {
  padding-top: 2.5em;
  padding-bottom: 0; }
  @media screen and (min-width: 50em) {
    .modulo__introduction {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-sizing: border-box;
      padding-top: 9.375em;
      overflow: hidden;
      background-color: #f3ba92;
      background-image: linear-gradient(-270deg, #fae1c9 0%, #f4c098 100%);
      text-align: right; } }

.modulo__insurances {
  padding-top: 2.5em;
  padding-bottom: 2.5em; }
  @media screen and (min-width: 50em) {
    .modulo__insurances {
      position: relative;
      z-index: 1;
      display: flex;
      margin-top: 3.75em;
      text-align: left; } }

.modulo__insurance {
  padding-left: 3.75em; }
  .modulo__insurance-icon {
    top: 50%;
    width: 2.5em;
    transform: translateY(-50%); }
    @media screen and (max-width: 49.9375em) {
      .modulo__insurance-icon {
        --alt: #43cb79; } }

@media screen and (min-width: 50em) {
  .modulo__illustration {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 1;
    max-height: 37.5em;
    transform: translate(-50%, 0); } }

@media screen and (min-width: 50em) {
  .modulo__infos {
    position: relative;
    z-index: 1;
    text-align: left; } }

@media screen and (min-width: 50em) {
  .modulo__new {
    display: inline-block;
    padding: 0.1875em 0.3125em 0.125em;
    margin-bottom: .5em;
    background-color: white;
    color: #e60050;
    line-height: 1; }
    .modulo__new.show-md {
      display: inline-block; } }

.modulo__price {
  color: #e60050; }
  .modulo__price-wrapper {
    margin: 1.25em 0; }

.modulo__gallery {
  overflow: hidden; }
  @media screen and (max-width: 49.9375em) {
    .modulo__gallery {
      margin-top: 1em; } }

.modulo__cta {
  margin-top: 1em; }
  @media screen and (max-width: 49.9375em) {
    .modulo__cta {
      text-align: center; } }
  @media screen and (min-width: 50em) {
    .modulo__cta {
      margin-bottom: 1em; } }

.modulo__mention {
  margin-top: 1em; }
  @media screen and (min-width: 50em) {
    .modulo__mention {
      max-width: 15.625em; } }

.modulo__awards {
  padding: 0.625em 0;
  border-bottom: solid 1px rgba(74, 74, 74, 0.6);
  color: rgba(74, 74, 74, 0.5);
  text-align: center; }
  .modulo__awards-logo, .modulo__awards-label {
    display: inline-block;
    vertical-align: middle; }
  .modulo__awards-logo {
    margin-right: 0.625em; }

.modulo__video {
  padding-bottom: 0; }
  @media screen and (max-width: 49.9375em) {
    .modulo__video-header {
      margin-bottom: 0; } }

.modulo__light-ill {
  max-width: 100%;
  margin-bottom: 2.5em; }

.modulo__modular-nav {
  text-align: center; }

.modulo__modular .slick-dots {
  display: inline-block !important;
  margin-top: 2.5em;
  border: solid 1px rgba(74, 74, 74, 0.6);
  border-radius: 1.5625em;
  text-align: center; }
  .modulo__modular .slick-dots li {
    display: inline-block;
    vertical-align: top; }
  .modulo__modular .slick-dots button {
    width: auto;
    padding: 0;
    margin: 0;
    border: 0;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    cursor: pointer;
    user-select: none;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
    height: 2em;
    padding: 0 0.625em;
    border-radius: 1em;
    color: rgba(74, 74, 74, 0.5);
    font-family: "Melbourne Bold", serif;
    line-height: 1.25em;
    text-transform: uppercase;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out; }
    .modulo__modular .slick-dots button::-moz-focus-inner {
      padding: 0;
      border: 0; }
    .modulo__modular .slick-dots button:disabled {
      cursor: initial; }
    @media screen and (min-width: 50em) {
      .modulo__modular .slick-dots button {
        padding: 0 2.5em; } }
    .modulo__modular .slick-dots button:hover, .modulo__modular .slick-dots button:active, .modulo__modular .slick-dots button:focus {
      color: #4664af; }

.modulo__modular .slick-active button {
  background-color: #4664af;
  color: white; }
  .modulo__modular .slick-active button:hover, .modulo__modular .slick-active button:active, .modulo__modular .slick-active button:focus {
    color: white; }

.modulo__plants {
  overflow: hidden; }

.comparison__nav .menu__item {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 0; }

.comparison__content {
  padding-top: 2.5em; }
  @media screen and (min-width: 50em) {
    .comparison__content {
      padding-top: 3.75em; } }

.comparison__list {
  margin-top: 3.75em;
  margin-bottom: 3.75em; }

.comparison__item {
  box-sizing: border-box; }
  .comparison__item:nth-child(odd) {
    padding-right: 0.625em; }
  .comparison__item:nth-child(even) {
    padding-left: 0.625em; }
  @media screen and (min-width: 50em) {
    .comparison__item:nth-child(odd), .comparison__item:nth-child(even) {
      padding: 0 3.125em; } }
  @media screen and (min-width: 50em) {
    .comparison__item {
      margin-top: 0; } }

.comparison__article {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  border-top: solid 1px rgba(74, 74, 74, 0.6); }
  @media screen and (min-width: 50em) {
    .comparison__article {
      padding-top: 3.75em;
      padding-bottom: 3.75em; } }

.comparison__table {
  width: 100%;
  margin-top: 1.25em;
  margin-bottom: -1.25em;
  table-layout: fixed; }
  @media screen and (min-width: 50em) {
    .comparison__table {
      margin-top: 2.5em;
      margin-bottom: -2.5em; } }
  .comparison__table-cell {
    padding: 1.25em 0.625em;
    text-align: center; }
    @media screen and (min-width: 50em) {
      .comparison__table-cell {
        padding: 2.5em 3.125em; } }
  .comparison__table p.text + p.text {
    margin-top: .5em; }

.comparison__icon {
  margin-bottom: 0.625em;
  fill: #4a4a4a; }
  .comparison__icon svg {
    max-width: 100%; }

.comparison__alert {
  color: #e60050; }

.comparison__no-data {
  vertical-align: middle; }
  .comparison__no-data::before {
    content: '—';
    font-size: 1.25em; }
    @media screen and (min-width: 50em) {
      .comparison__no-data::before {
        font-size: 3.125em; } }

.comparison__products-list {
  margin-top: 2.5em; }

.subscription__intro {
  padding-top: 2.5em;
  padding-bottom: 2.5em; }
  @media screen and (min-width: 50em) {
    .subscription__intro {
      padding-top: 3.75em; } }

.subscription__capsules {
  height: 20.3125em;
  overflow: hidden; }
  .subscription__capsules-ill {
    height: 100%;
    min-width: 100%;
    object-fit: cover; }

.subscription__arguments {
  text-align: center; }

.subscription__argument-title::before {
  content: '✓ ';
  color: #43cb79;
  font-family: 'Lucida Grande', sans-serif;
  font-weight: bold; }

.subscription__kitchen-bench {
  position: relative;
  display: flex;
  align-items: center;
  height: 20.3125em;
  box-sizing: border-box;
  overflow: hidden; }
  @media screen and (min-width: 50em) {
    .subscription__kitchen-bench {
      height: 60em; } }
  .subscription__kitchen-bench-ill {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover; }

.subscription__modulos {
  max-height: 50.625em;
  background-color: #a08bcc;
  line-height: 0;
  text-align: center; }
  .subscription__modulos-ill {
    max-width: 100%; }

.technology__ill {
  display: block;
  max-width: 100%;
  margin: 0 auto; }

.technology__intro {
  padding-top: 2.5em;
  overflow: hidden; }
  @media screen and (min-width: 50em) {
    .technology__intro {
      padding-top: 3.75em; } }
  .technology__intro-ill {
    width: 100%; }
  @media screen and (min-width: 50em) {
    .technology__intro {
      position: relative;
      height: 56.25em;
      box-sizing: border-box; }
      .technology__intro-ill {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1; } }

.technology__exposure svg {
  fill: #f5da7a; }

.mobile-app__intro-ill {
  max-width: 100%;
  margin-bottom: -2.5em; }
  @media screen and (max-width: 49.9375em) {
    .mobile-app__intro-ill {
      margin-top: 2.5em; } }
  @media screen and (min-width: 50em) {
    .mobile-app__intro-ill {
      margin-bottom: -3.75em; } }

@media screen and (max-width: 49.9375em) {
  .mobile-app__device-col {
    text-align: center; }
    .mobile-app__device-col + .mobile-app__device-col {
      margin-top: 2.5em; } }

@media screen and (min-width: 50em) {
  .mobile-app__device-col {
    vertical-align: middle; } }

.mobile-app__device-ill {
  max-width: 100%; }
  @media screen and (max-width: 49.9375em) {
    .mobile-app__device-ill {
      max-width: 12.5em; } }
  .mobile-app__device-ill-wrapper {
    line-height: 0; }

@media screen and (max-width: 49.9375em) {
  .mobile-app__badge {
    max-width: 9.375em; } }

.mobile-app__badge-wrapper {
  line-height: 0; }

.labo__ill {
  display: block;
  max-width: 100%;
  margin: 0 auto; }

.labo__intro {
  padding-top: 2.5em;
  padding-bottom: 2.5em; }
  @media screen and (min-width: 50em) {
    .labo__intro {
      padding-top: 3.75em; } }

.labo__axe {
  margin: 2.5em 0; }

.labo__gallery {
  overflow: hidden; }
  @media screen and (max-width: 49.9375em) {
    .labo__gallery {
      margin-top: 1em; } }

.school__ill {
  display: block;
  max-width: 100%;
  margin: 0 auto; }

.school__intro {
  padding-top: 2.5em;
  padding-bottom: 2.5em; }
  @media screen and (min-width: 50em) {
    .school__intro {
      padding-top: 3.75em; } }

.school__gallery {
  overflow: hidden; }
  @media screen and (max-width: 49.9375em) {
    .school__gallery {
      margin-top: 1em; } }

.school__ordonated-list {
  counter-reset: counter; }
  .school__ordonated-list li::before {
    counter-increment: counter;
    content: counter(counter) ".";
    font-family: "Melbourne Bold", serif;
    font-size: 1.4em; }

.recruitment__ill {
  display: block;
  max-width: 100%;
  margin: 0 auto; }

.recruitment__intro {
  padding-top: 2.5em;
  padding-bottom: 2.5em; }
  @media screen and (min-width: 50em) {
    .recruitment__intro {
      padding-top: 3.75em; } }

.recruitment__ads {
  margin-top: 3.75em;
  margin-bottom: 3.75em; }
  @media screen and (min-width: 50em) {
    .recruitment__ads {
      margin-top: 2.5em;
      margin-bottom: 2.5em; } }

.recruitment__ad {
  padding: 1em 0;
  border-bottom: solid 1px rgba(74, 74, 74, 0.6); }
  .recruitment__ad p.text + p.text {
    margin-top: .5em; }

.recruitment__gallery {
  overflow: hidden; }
  @media screen and (max-width: 49.9375em) {
    .recruitment__gallery {
      margin-top: 1em; } }

.team__ill {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  text-align: center; }

.team__intro {
  padding-top: 2.5em;
  padding-bottom: 2.5em; }
  @media screen and (min-width: 50em) {
    .team__intro {
      padding-top: 3.75em; } }

.team__date {
  margin: 2.5em 0; }

.team__trombinoscope {
  margin: 2.5em 0; }
  @media screen and (min-width: 50em) {
    .team__trombinoscope {
      margin: 3.75em 0; } }

.newsroom__intro {
  padding-top: 2.5em;
  padding-bottom: 2.5em; }
  @media screen and (min-width: 50em) {
    .newsroom__intro {
      padding-top: 3.75em; } }

.newsroom__ill {
  display: block;
  max-width: 100%;
  margin: 0 auto; }

.newsroom__contacts {
  justify-content: center; }
  @media screen and (min-width: 50em) {
    .newsroom__contacts .people__item {
      margin-right: 1.875em;
      margin-left: 1.875em; } }

.hide {
  position: absolute;
  z-index: -1;
  visibility: hidden; }

.show-sm,
.show-md,
.show-lg {
  display: none; }

.row__col.show-sm,
.row__col--centered.show-sm {
  display: none; }

.row__col.show-md,
.row__col--centered.show-md {
  display: none; }

.row__col.show-lg,
.row__col--centered.show-lg {
  display: none; }

@media screen and (min-width: 23.4375em) {
  .show-sm {
    display: block; }
    .row__col.show-sm {
      display: inline-block; }
    .row__col--centered.show-sm {
      display: block; }
  .hide-sm {
    display: none; } }

@media screen and (min-width: 50em) {
  .show-md {
    display: block; }
    .row__col.show-md {
      display: inline-block; }
    .row__col--centered.show-md {
      display: block; }
  .hide-md {
    display: none; } }

@media screen and (min-width: 71.75em) {
  .show-lg {
    display: block; }
    .row__col.show-lg {
      display: inline-block; }
    .row__col--centered.show-lg {
      display: block; }
  .hide-lg {
    display: none; } }
