.add-in-cart-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: em(-$spacing-small/2);

  &__quantity-input {
    flex: 0 1 em(60, $input-font-size);
    width: em(60, $input-font-size);
    margin: em($spacing-small/2, $input-font-size);
    border-width: #{$input-border-width*2}px;
  }

  &__button {
    flex: 1 1 auto;
    margin: em($spacing-small/2, $button-font-size);
  }
}
