.arguments {
  padding-top: em($spacing-medium);
  padding-bottom: em($spacing-medium);

  @include breakpoint($beyond-medium) {
    padding-top: em($spacing-large);
    padding-bottom: em($spacing-large);
  }
}

.argument {
  text-align: center;

  &__icon {
    display: inline-block;
    max-width: 100%;
    margin-bottom: .5em;
    fill: $dark;

    &--red {
      fill: $sale-color;
    }

    &--green {
      fill: $positive-color;
    }

    &--blue {
      fill: $active-color;
    }
  }
}
