.device {
  @include breakpoint($below-medium) {
    text-align: center;

    &__ill {
      max-width: em(100);
      margin-bottom: em($spacing-small);
    }
  }

  &__part + &__part {
    margin-top: em($spacing-medium);
  }
}
