.footer {
  padding-top: em($spacing-medium);
  padding-bottom: em($spacing-medium/2);
  background-color: $off-white;

  @include breakpoint($below-large) {
    hr {
      margin: 0 em(-$gutter);
    }

    .accordion {
      padding-right: em($gutter);
      padding-left: em($gutter);
      margin: 0 em(-$gutter);

      &__panel {
        padding-left: em($spacing-medium);

        & *:last-child {
          margin-bottom: em($spacing-medium/2);
        }
      }
    }
  }

  .text__link {
    text-decoration: none;
  }

  &__breadcrumb {
    margin-bottom: em($spacing-medium/2);
  }

  &__menu {
    margin: em($spacing-medium/2) 0;
    column-count: 2;
    column-gap: em($spacing-larger/2);

    @include breakpoint((min: 550)) {
      column-count: 3;
    }

    &-group {
      margin-bottom: em($spacing-large/2);
      page-break-inside: avoid;
      break-inside: avoid;
      break-inside: avoid-column; // sass-lint:disable-line no-duplicate-properties
    }
  }

  &__subscibe-to-newsletter,
  &__social-networks {
    margin: em($spacing-medium/2) 0;

    @include breakpoint($beyond-large) {
      margin-bottom: em($spacing-medium);
    }
  }

  &__subscibe-to-newsletter-form {
    max-width: em(300);
    margin: em($spacing-small) 0;
  }

  &__legals {
    margin: em($spacing-medium/2) 0;
  }

  &__country {
    margin: em($spacing-medium/2) 0;
  }

  &__select-country {
    border: 0;
    background: none;
    color: $dark;
    cursor: pointer;
    -webkit-appearance: button; // sass-lint:disable-line property-sort-order,no-vendor-prefixes
    -moz-appearance: button; // sass-lint:disable-line no-vendor-prefixes
    appearance: button; // sass-lint:disable-line all

    &::-ms-expand { // sass-lint:disable-line no-vendor-prefixes
      display: none;
    }
  }

  @include breakpoint($beyond-large) {
    &__legals-and-coutry {
      display: flex;
      align-items: center;
    }

    &__legals {
      flex: 1 1 auto;
    }
  }
}

.legals-menu {
  &__item {
    display: inline-block;
    vertical-align: baseline;

    &::after {
      content: '|';
      margin: 0 em($gutter);
    }

    &:last-child {
      &::after {
        content: none;
      }
    }
  }
}
