.gallery {

  &__scene {
    position: relative;
    box-sizing: border-box;
    padding: 50%;
    overflow: hidden;
    background-color: $off-white;
    background-size: cover;
    line-height: 0;
  }

  &__photo {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    opacity: 1;
    transition: opacity $transition-duration $transition-timing;
    object-fit: cover;

    &.hide {
      opacity: 0;
      transition: opacity 0s;
    }
  }

  $spacing-small: 20;

  &__nav {
    margin: em($spacing-small/2) 0 em(-$spacing-small/2);
    line-height: 0;
  }

  &__item {
    display: inline-block;
    vertical-align: top;
    padding: em($spacing-small/2) em($spacing-small) em($spacing-small/2) 0;
  }
}
