.garden {
  text-align: center;

  &__thumbnail {
    margin-bottom: em($spacing-small);
  }

  &__image {
    max-width: 100%;
  }

  &__intro {
    @at-root {
      p.text + p#{&} { // sass-lint:disable-line force-element-nesting, no-qualifying-elements
        margin: 0;
      }
    }
  }

  &__price {
    color: $sale-color;
  }

  &__link {
    text-decoration: none;

    .text {
      color: $dark;
      transition: color $transition-duration $transition-timing;
    }

    &:focus {
      outline: none;
    }

    &:hover,
    &:active,
    &:focus {
      .text {
        color: $active-color;
      }
    }
  }

  &__price + &__cta,
  &__cta + &__see-more,
  &__intro + &__see-more {
    margin-top: 1em;
  }
}
