.basket-access {
  @include reset-button;
  height: em(50);
  fill: $sale-color;
}

.nav,
.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;

  &--with-shadow {
    $shadow-color: rgba($dark, .5);
    box-shadow: 0 em(2) em(4) 0 $shadow-color;
  }

  &__bar {
    position: relative;
    z-index: 1;
    background-color: $white;

    &-row {
      display: flex;
      flex-direction: row;
    }

    &::after {
      content: ' ';
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      border-bottom: solid #{$border-width}px $border-color;
    }
  }
}

body {
  padding-top: em(50);

  @include breakpoint((min: $threshold-to-adapt-the-nav)) {
    padding-top: em(120);
  }
}

.nav {
  display: none;

  @include breakpoint((min: $threshold-to-adapt-the-nav)) {
    display: block;
  }

  &__brand {
    height: #{120/$browser-context}rem;
    box-sizing: border-box;
    padding: #{$spacing-small/$browser-context}rem 0;
    margin-right: #{$spacing-medium/$browser-context}rem;
    font-size: 0;
    white-space: nowrap;

    &::after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      height: 100%;
      width: 1px;
      margin-left: -1px;
    }
  }

  &__logo {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: auto;
    max-height: #{70/$browser-context}rem;
  }

  &__menus-wrapper {
    flex: 1 1 auto;
    display: inline-block;
    vertical-align: middle;
  }

  &__menu-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu-row--with-basket {
    position: relative;
    height: em(70);
    padding-right: em($spacing-medium + 35);
  }

  &__basket-access {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  &__menu-row + &__menu-row {
    margin-top: -#{$border-width}px;
    border-top: solid #{$border-width}px $border-color;
  }

  &__info,
  &__menu {
    display: inline-block;
    vertical-align: baseline;
  }

  &__promotion {
    color: $sale-color;
  }

  .menu__item {
    display: inline-block;
    vertical-align: baseline;
    margin-right: em($spacing-medium / 2);

    &:last-child {
      margin-right: 0;
    }
  }
}

.mobile-nav {
  @include breakpoint((min: $threshold-to-adapt-the-nav)) {
    display: none;
  }

  &__bar-row {
    align-items: center;
    text-align: center;
  }

  &__toggler {
    display: inline-block;
    vertical-align: middle;
    height: em(50);
  }

  &__brand {
    flex: 1 1 auto;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
  }

  &__logo {
    height: em(30);
  }

  &__basket-access {
    display: inline-block;
    vertical-align: middle;
  }

  &__search-form {
    margin-top: em($spacing-small);
    padding-bottom: em($spacing-medium);
  }

  .menu {
    position: fixed;
    top: em(50);
    left: 0;
    width: 100%;
    overflow: auto;
    background-color: $white;
    $shadow-color: rgba($dark, .5);
    box-shadow: 0 em(2) em(4) 0 $shadow-color;
    transition: height $bigger-transition-duration $transition-timing;

    &__row {
      display: flex;
      flex-direction: column;
      height: 100%;
      box-sizing: border-box;
    }

    &__list {
      flex: 1 1 auto;
    }

    &:not(.menu--visible) {
      height: 0;
    }

    &--visible {
      height: 100%;
      height: calc(100% - #{em(50)}); // sass-lint:disable-line no-duplicate-properties
    }
  }

  .menu__item + .menu__item {
    border-top: solid #{$border-width}px $border-color;

    &--with-stronger-separator {
      border-color: $dark;
    }
  }
}

.main-notifications-list {
  position: absolute;
  top: em(50);
  right: 0;
  left: 0;
  z-index: 2;
  max-width: em(800 + (2 * $gutter));
  margin: em($spacing-medium / 2) auto 0;

  @include breakpoint((min: $threshold-to-adapt-the-nav)) {
    top: em(120);
  }

  &--after-secondary-menu {
    top: em(100);

    @include breakpoint((min: $threshold-to-adapt-the-nav)) {
      top: em(180);
    }
  }
}

.cart-notifications-list {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
  box-sizing: border-box;
  padding-top: em($spacing-small);
  padding-bottom: em($spacing-small);
  text-align: center;

  @include breakpoint($beyond-medium) {
    max-width: em(250);

    .notification {
      padding: em(2 * $spacing-small + 15) em($spacing-small) em($spacing-medium/2);
    }
  }
}
