.news {
  background-color: $white;
  $shadow-color: rgba($dark, .5);
  box-shadow: 0 em(2) em(4) 0 $shadow-color;

  &__link {
    position: relative;
    display: block;
    transition: color $transition-duration $transition-timing;

    &::after {
      content: '→';
      position: absolute;
      top: em($spacing-small);
      right: em($spacing-small);
      z-index: 1;
      height: em(35);
      width: em(35);
      border-radius: 50%;
      background-color: $white;
      color: $dark;
      font-family: 'Lucida Grande', sans-serif;
      font-weight: bold;
      line-height: em(35);
      text-align: center;
      transition: color $transition-duration $transition-timing;
    }

    &:hover,
    &:active,
    &:focus {
      color: $active-color;

      &::after {
        color: $active-color;
      }
    }
  }

  &__image-wrapper {
    position: relative;
    box-sizing: border-box;
    padding: ((250 * 50%) / 514) 50%;

    &--square {
      padding: 50%;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__content {
    padding: em($spacing-small*2) em($spacing-small);
  }
}

.news-list {
  display: flex;
  flex-wrap: wrap;
  margin: em(-$spacing-large/2) em(-$spacing-small);

  @include breakpoint($beyond-small) {
    margin-right: em(-$spacing-medium / 2);
    margin-left: em(-$spacing-medium / 2);
  }

  &__item {
    box-sizing: border-box;
    padding: 0 em($spacing-small);
    margin: em($spacing-large/2) 0;

    @include breakpoint($beyond-small) {
      padding: 0 em($spacing-medium / 2);
    }

    @include breakpoint($beyond-medium) {
      &:nth-child(odd) {
        padding-right: em($spacing-larger / 2);
      }

      &:nth-child(even) {
        padding-left: em($spacing-larger / 2);
      }
    }

    .news {
      height: 100%;
    }
  }
}
