.opinion {
  box-sizing: border-box;
  padding: em($spacing-small) em($spacing-small) em($spacing-small*2);
  border-radius: em(3);
  background-color: lighten($active-color, 40%);
  text-align: center;

  &__value {
    fill: $less-dark;
  }
}

.opinions-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: em(-$spacing-small);

  &__item {
    box-sizing: border-box;
    padding: 0 em($spacing-small);
    margin: em($spacing-small) 0;

    .opinion {
      height: 100%;
    }
  }

  &__mention {
    margin-top: em($spacing-medium);
    color: $less-dark;
    text-align: right;
  }
}
