.person {
  background-color: $white;

  &__image-wrapper {
    position: relative;
    box-sizing: border-box;
    padding: 50%;
    overflow: hidden;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    min-width: 100%;
    object-fit: cover;
    transform: translateX(-50%);
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: em($spacing-small*2) em($spacing-small) em($spacing-small);
    border: solid #{$border-width}px $border-color;
    border-top: 0;

    .text__link {
      text-decoration: none;
    }
  }

  &__contact {
    flex: 1 1 auto;
    margin-top: em($spacing-small);
  }
}

.people {
  display: flex;
  flex-wrap: wrap;
  margin: em(-$spacing-large/2) em(-$spacing-small);

  @include breakpoint($beyond-small) {
    margin-right: em(-$spacing-medium/2);
    margin-left: em(-$spacing-medium/2);
  }

  &__item {
    box-sizing: border-box;
    padding: 0 em($spacing-small);
    margin: em($spacing-large/2) 0;

    @include breakpoint($beyond-small) {
      padding: 0 em($spacing-medium/2);
    }

    .person {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    .person__content {
      flex: 1 1 auto;
    }
  }
}
