.releases__see-more {
  position: relative;
  display: block;
  width: 100%;
  padding: 1em em($spacing-small + 20) 1em 0;
  margin-top: em($spacing-large);
  border: 0;
  border-top: solid #{$border-width}px $border-color;
  border-bottom: solid #{$border-width}px $border-color;
  background: transparent;
  cursor: pointer;
  transition: color $transition-duration $transition-timing;
  user-select: none;
  -webkit-font-smoothing: inherit; // sass-lint:disable-line no-vendor-prefixes
  -moz-osx-font-smoothing: inherit; // sass-lint:disable-line no-vendor-prefixes
  -webkit-appearance: none; // sass-lint:disable-line no-vendor-prefixes

  &::-moz-focus-inner { // sass-lint:disable-line no-vendor-prefixes
    padding: 0;
    border: 0;
  }

  &:disabled {
    cursor: initial;
  }

  &:hover,
  &:active,
  &:focus {
    color: $active-color;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    height: em(20);
    width: em(20);
    margin-top: em(-10);
    background-image: url('data:image/svg+xml;charset=UTF-8,%3csvg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 20 20"%3e%3cline stroke="%239B9B9B" x1="10" y1="20" x2="10" y2="0"/%3e%3cline stroke="%239B9B9B" x1="0" y1="10" x2="20" y2="10"/%3e%3c/svg%3e');
    transform: rotate(0deg);
    transition: transform $transition-duration $transition-timing;
  }

}

$border-color: rgba($dark, .6);

.release {
  &__download-link {
    color: $active-color;
  }
}

@include breakpoint($below-small) {
  .release {
    padding: em($spacing-small * 2) em($spacing-small);
    border: solid #{$border-width}px $border-color;

    & + & {
      margin-top: em($spacing-large / 2);
    }
  }
}

@include breakpoint($beyond-small) {
  .releases {
    display: table;
    width: 100%;
    margin-top: em(-$spacing-large / 2);
    margin-bottom: em(-$spacing-large / 2);
    border-spacing: 0 em($spacing-large / 2);
  }

  .release {
    display: table-row;

    &__download {
      text-align: right;
    }

    &__col {
      display: table-cell;
      padding: em($spacing-small * 2) em($spacing-small);
      margin: 0;
      border-top: solid #{$border-width}px $border-color;
      border-bottom: solid #{$border-width}px $border-color;

      &:first-child {
        border-left: solid #{$border-width}px $border-color;
      }

      &:last-child {
        border-right: solid #{$border-width}px $border-color;
      }
    }
  }
}
