.product {
  display: flex;
  flex-direction: column;

  &__thumbnail {
    position: relative;

    &-link {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      height: 100%;
      width: 100%;
    }
  }

  &__image-wrapper {
    position: relative;
    box-sizing: border-box;
    padding: (100% / 3) 50%;
    background-color: $decoration-color;

    &--square {
      padding: 50%;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;

    &--seed {
      top: 50%;
      left: 50%;
      height: auto;
      width: 150%;
      transform: translate(-50%, -50%);
    }
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: em($spacing-small*2) em($spacing-small) em($spacing-small);
    border: solid #{$border-width}px $border-color;
    border-top: 0;
  }

  &__designation-and-price {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__designation {
    padding-right: em($spacing-small);
  }

  &__category,
  &__name {
    text-transform: uppercase;
  }

  &__price {
    color: $sale-color;
  }

  &__intro {
    flex: 1 1 auto;
    margin-top: em($spacing-small);
  }

  &__add-in-cart-form {
    margin-top: em($spacing-small*1.5);
  }

  &__see-more {
    margin-top: em($spacing-small*2);
    color: $less-dark;

    &-link {
      color: $less-dark;
      text-decoration: none;
      transition: color $transition-duration $transition-timing;

      &:focus {
        outline: none;
      }

      &:hover,
      &:active,
      &:focus {
        color: $active-color;
      }
    }
  }
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: em(-$spacing-large/2) em(-$spacing-small);
  text-align: center;

  @include breakpoint($beyond-small) {
    margin-right: em(-$spacing-medium/2);
    margin-left: em(-$spacing-medium/2);
  }

  &__item {
    box-sizing: border-box;
    padding: 0 em($spacing-small);
    margin: em($spacing-large/2) 0;
    text-align: initial;

    @include breakpoint($beyond-small) {
      padding: 0 em($spacing-medium/2);
    }

    .product {
      height: 100%;
    }

    .product__content {
      flex: 1 1 auto;
    }
  }

  &--plants {
    @include breakpoint($beyond-medium) {
      margin-right: (($spacing-medium/$container-max-width) * -100%);
      margin-left: (($spacing-medium/$container-max-width) * -100%);
    }
    justify-content: initial;
    text-align: left;
  }

  &--plants &__item {
    @include breakpoint($beyond-medium) {
      padding: 0 ($spacing-medium / ($container-max-width + ($spacing-medium * 2)) * 100%);
    }
  }
}
