.search-form {
  position: relative;
  width: 100%;

  &__button {
    @include reset-button;
    position: absolute;
    top: em(($input-height - 20) / 2);
    left: em($spacing-medium / 4);
    width: em($spacing-medium / 2);
    fill: $dark;
    text-align: center;
  }

  &__input {
    $base: $input-font-size;
    position: relative;
    display: block;
    height: em($input-height, $base);
    width: 100%;
    box-sizing: border-box;
    padding: em(($input-height - $input-line-height) / 2, $button-font-size) em($spacing-small, $base) em(($input-height - $input-line-height) / 2, $button-font-size) em($spacing-medium);
    border: 0;
    border-radius: em($input-border-radius, $input-font-size);
    overflow: hidden;
    background: $darker-white;
    color: $input-color;
    font-family: $regular-font;
    font-size: em($input-font-size);
    line-height: $input-line-height / $input-font-size;

    &::placeholder {
      color: $input-placeholder-color;
    }

    &:read-only {
      border-color: $input-border-color;
      color: $read-only-input-color;
    }

    &--error {
      &,
      &:hover,
      &:focus {
        border-color: $negative-color;
      }
    }
  }
}
