.secondary-nav {
  position: sticky;
  top: em(50);
  z-index: 2;
  border-top: solid #{$border-width}px $border-color;
  background-color: $off-white;
  $shadow-color: rgba($dark, .5);
  box-shadow: 0 em(2) em(4) 0 $shadow-color;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: em(50);
    margin: 0 em(-$spacing-small);

    & > * {
      display: inline-block;
      vertical-align: middle;
      margin: 0 em($spacing-small);
    }
  }

  &__toggler {
    position: absolute;
    top: 0;
    left: 0;
    height: em(50);
    width: 100%;
    padding: 0 em($spacing-small);
    text-align: right;
  }

  &__col {
    &--with-centered-content {
      flex: 1 1 auto;
      text-align: center;
    }
  }

  &__title-wrapper {
    position: relative;
  }

  &__back {
    position: absolute;
    top: 50%;
    right: 100%;
    margin-right: em($spacing-medium);
    transform: translateY(-50%);

    &-link {
      fill: $dark;
      transition: all $transition-duration $transition-timing; // sass-lint:disable-line no-transition-all

      &:hover,
      &:active,
      &:focus {
        fill: $active-color;
      }
    }

    @include breakpoint((max: 1279)) {
      display: none;
    }
  }

  .input,
  .number-box {
    border: solid #{$border-width}px $border-color;
    background: $white;
  }

  .menu__item {
    display: inline-block;
    vertical-align: baseline;
    margin-right: em($spacing-small);

    &:last-child {
      margin-right: 0;
    }
  }

  &__menu--collapsable {
    overflow: auto;
    transition: height $transition-duration $transition-timing;

    .menu__list {
      max-width: em(260);
      margin: 0 auto;
    }

    .menu__item {
      width: 100%;
      margin: 0;

      &:last-child {
        margin-bottom: em($spacing-medium);
      }
    }

    .menu__item + .menu__item {
      border-top: solid #{$border-width}px $border-color;

      &--with-stronger-separator {
        border-color: $dark;
      }
    }

    &:not(.menu--visible) {
      height: 0;
    }

    &.menu--visible {
      height: auto;
    }
  }

  &__show-md {
    display: none;
  }

  @include breakpoint((min: $threshold-to-adapt-the-nav)) {
    top: em(70);
    $transparent-white: rgba($white, .8);
    background: $transparent-white;
    background: linear-gradient($white, $transparent-white); // sass-lint:disable-line no-duplicate-properties

    &__wrapper {
      min-height: em(60);
    }

    &__title-wrapper,
    &__menu {
      display: inline-block;
      vertical-align: text-top;
      margin-top: em($spacing-small/2);
    }

    &__title-wrapper {
      margin-right: em($spacing-medium);
    }

    .add-in-cart-form {
      font-size: em(map-get(map-get($text-sizes-values, big), size));
    }

    &__show-md {
      display: inline-block;
    }

    &__hide-md {
      display: none;
    }
  }
}
