.subscibe-to-newsletter-form {
  display: flex;

  .input {
    flex: 1 1 auto;
    margin-right: em($gutter);
    border: 0;
    background-color: $white;
    $shadow-color: rgba($dark, .5);
    box-shadow: 0 em(2) em(4) 0 $shadow-color;
  }
}
