.toggler {
  @include reset-button;
  width: em($spacing-medium);
  text-align: center;

  &__arrow {
    display: block;
    fill: $dark;
    transform: scaleY(1);
    transition: all $transition-duration $transition-timing; // sass-lint:disable-line no-transition-all
  }

  &:hover &__arrow,
  &:active &__arrow,
  &:focus &__arrow {
    fill: $active-color;
  }

  &__bars {
    position: relative;
    display: inline-block;
    height: em(12);
    width: em(22);
  }

  &__bar {
    position: absolute;
    left: 0;
    display: block;
    height: em(3);
    width: 100%;
    border-radius: em(1.5);
    background: $dark;
    transform: rotate(0deg);
    transition: transform $bigger-transition-duration $transition-timing;

    &:first-child {
      top: 0;
      transform-origin: center;
    }

    &:last-child {
      bottom: 0;
      transform-origin: center;
    }
  }

  &--active &__bar {
    &:first-child {
      transform: rotate(45deg) translateX(em(3.25)) translateY(em(3.25));
    }

    &:last-child {
      transform: rotate(-45deg) translateX(em(3.25)) translateY(em(-3.25));
    }
  }

  &--active &__arrow {
    transform: scaleY(-1);
  }
}
